{
  "openapi": "3.1.0",
  "info": {
    "title": "메리츠증권 Open API",
    "version": "2026-09-22",
    "description": "포털 등록 명세에서 생성했습니다. 정본은 개발자 포털입니다."
  },
  "servers": [
    {
      "url": "https://openapi.imeritz.com:9443",
      "description": "운영"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "POST /oauth2/token 으로 받은 접근토큰"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/oauth2/revoke": {
      "post": {
        "operationId": "oauth2_revoke",
        "summary": "접근토큰 폐기",
        "tags": [
          "oauth2"
        ],
        "description": "발급 받은 접근토큰을 더이상 활용하지 않을 때 사용합니다",
        "parameters": [],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "title": "응답메시지",
                      "description": "접근토큰 폐기 요청의 처리 결과 코드입니다. 사유는 함께 내려오는 message 에 담깁니다.\n\n폐기가 끝나면 그 접근토큰으로는 더 이상 호출하실 수 없습니다. 이어서 API 를 쓰시려면 접근토큰 발급(/oauth2/token)으로 새 토큰을 받으십시오.",
                      "maxLength": 3
                    },
                    "message": {
                      "type": "string",
                      "title": "응답메시지",
                      "description": "응답 메세지",
                      "maxLength": 100
                    }
                  }
                },
                "example": {
                  "code": 200,
                  "message": "success"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "client_id",
                  "client_secret",
                  "token_type_hint",
                  "token"
                ],
                "properties": {
                  "client_id": {
                    "type": "string",
                    "title": "고객 앱 Key",
                    "description": "포탈에서 발급된 고객의 앱 Key",
                    "maxLength": 36
                  },
                  "client_secret": {
                    "type": "string",
                    "title": "고객 앱 비밀 Key",
                    "description": "포탈에서 발급된 고객의 앱 비밀 Key",
                    "maxLength": 36
                  },
                  "token_type_hint": {
                    "type": "string",
                    "title": "토큰 유형 hint",
                    "description": "access_token, refresh_token 토큰 타입",
                    "maxLength": 36
                  },
                  "token": {
                    "type": "string",
                    "title": "접근토큰",
                    "description": "G/W에서 발급하는 접근토큰",
                    "maxLength": 1000
                  }
                }
              },
              "example": {
                "client_id": "{app_key}",
                "client_secret": "{app_secret}",
                "token_type_hint": "access_token",
                "token": "{access_token}"
              }
            }
          }
        },
        "x-tr-id": "revoke",
        "x-tps": "10"
      }
    },
    "/oauth2/token": {
      "post": {
        "operationId": "oauth2_token",
        "summary": "접근토큰 발급",
        "tags": [
          "oauth2"
        ],
        "description": "본인을 인증하는 확인 절차로, 접근토큰을 부여받아 오픈 API 활용이 가능합니다.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string",
                      "title": "접근토큰",
                      "description": "G/W에서 발급하는 접근토큰",
                      "maxLength": 1000
                    },
                    "expires_in": {
                      "type": "number",
                      "title": "접근토큰 유효기간",
                      "description": "유효기간 (초)"
                    },
                    "scope": {
                      "type": "string",
                      "title": "scope",
                      "description": "\"login\" 고정",
                      "maxLength": 256
                    },
                    "token_type": {
                      "type": "string",
                      "title": "토큰 유형",
                      "description": "Bearer",
                      "maxLength": 256
                    }
                  }
                },
                "example": {
                  "access_token": "{access_token}",
                  "scope": "login",
                  "token_type": "Bearer",
                  "expires_in": 604800
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "grant_type",
                  "client_id",
                  "client_secret",
                  "scope"
                ],
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "title": "권한부여 Type",
                    "description": "\"client_credentials\" 고정",
                    "maxLength": 100
                  },
                  "client_id": {
                    "type": "string",
                    "title": "고객 앱 Key",
                    "description": "포탈에서 발급된 고객의 앱 Key",
                    "maxLength": 36
                  },
                  "client_secret": {
                    "type": "string",
                    "title": "고객 앱 비밀 Key",
                    "description": "포탈에서 발급된 고객의 앱 비밀 Key",
                    "maxLength": 36
                  },
                  "scope": {
                    "type": "string",
                    "title": "scope",
                    "description": "\"login\" 고정",
                    "maxLength": 256
                  }
                }
              },
              "example": {
                "grant_type": "client_credentials",
                "client_id": "{app_key}",
                "client_secret": "{app_secret}",
                "scope": "login"
              }
            }
          }
        },
        "x-tr-id": "token",
        "x-tps": "10"
      }
    },
    "/reference/v1/market-days": {
      "get": {
        "operationId": "ref_market_days",
        "summary": "국내 영업일 조회",
        "tags": [
          "reference"
        ],
        "description": "영업일 여부와 전전·전·익·익익 영업일. 이용자 입력 없음.",
        "parameters": [
          {
            "name": "mac_address",
            "in": "header",
            "required": true,
            "description": "호출 단말의 MAC 주소입니다. 12자리로 넣습니다. 넣지 않으시면 요청이 거부됩니다.",
            "schema": {
              "type": "string",
              "title": "사용자 MAC_ADDRESS",
              "description": "호출 단말의 MAC 주소입니다. 12자리로 넣습니다. 넣지 않으시면 요청이 거부됩니다.",
              "maxLength": 12
            }
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tr_cont": {
                      "type": "string",
                      "title": "연속조회 여부",
                      "description": "항상 \"0\"으로 내려옵니다. 이 API는 연속조회를 지원하지 않습니다.",
                      "maxLength": 1
                    },
                    "rsp_cd": {
                      "type": "string",
                      "title": "응답코드",
                      "description": "이 API 의 성공 응답 코드는 \"0000\"(정상 처리)입니다.\n성공 코드는 API 마다 다릅니다. 다른 API 에서는 \"5766\"·\"5762\"·\"5820\" 등이 성공 코드입니다.\n\n오류는 종류와 무관하게 HTTP 500 으로 반환되므로, 성공·실패는 HTTP 상태가 아니라 이 값으로 판정하십시오.",
                      "maxLength": 8
                    },
                    "rsp_msg": {
                      "type": "string",
                      "title": "응답메시지",
                      "description": "처리 결과 메시지입니다. 오류일 때 사유가 담기며, 더 자세한 사유는 rsp_sub_msg 에 담깁니다.",
                      "maxLength": 200
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "tday_bsdy": {
                          "type": "string",
                          "title": "당일영업일",
                          "description": "조회 시점의 영업일입니다. YYYYMMDD 8자리.",
                          "maxLength": 8
                        },
                        "bef_bsdy": {
                          "type": "string",
                          "title": "전영업일",
                          "description": "직전 영업일입니다. 주말·휴장일은 건너뜁니다.",
                          "maxLength": 8
                        },
                        "bef_bef_bsdy": {
                          "type": "string",
                          "title": "전전영업일",
                          "description": "직전 영업일의 그 앞 영업일입니다.",
                          "maxLength": 8
                        },
                        "nx_bsdy": {
                          "type": "string",
                          "title": "익영업일",
                          "description": "다음 영업일입니다. 결제일(D+2) 계산에 쓰십시오.",
                          "maxLength": 8
                        },
                        "nx_nx_bsdy": {
                          "type": "string",
                          "title": "익익영업일",
                          "description": "다음 영업일의 그 다음 영업일입니다. 당일 기준 D+2 영업일입니다.",
                          "maxLength": 8
                        },
                        "sta_hour": {
                          "type": "string",
                          "title": "시작시간",
                          "description": "정규장이 시작되는 시각입니다. HHMMSS 6자리로 내려옵니다.\n\n고정된 값이 아닙니다. 유가증권시장의 그날 운영 시각을 따라 내려오므로 예시 값을 코드에 박아 두지 마시고, 부르실 때마다 이 값을 읽어 쓰십시오. 시장별 개시·마감 시각이 더 필요하시면 국내 장운영 조회(/reference/v1/market-hours)를 쓰십시오.",
                          "maxLength": 6
                        },
                        "fin_hour": {
                          "type": "string",
                          "title": "종료시간",
                          "description": "정규장이 끝나는 시각입니다. HHMMSS 6자리로 내려옵니다.\n\n고정된 값이 아닙니다. 유가증권시장의 그날 운영 시각을 따라 내려오므로 예시 값을 코드에 박아 두지 마시고, 마감까지 남은 시간을 셈하실 때는 부르실 때마다 이 값을 읽어 쓰십시오. 시장별 마감 시각이 따로 필요하시면 국내 장운영 조회(/reference/v1/market-hours)를 쓰십시오.",
                          "maxLength": 6
                        }
                      },
                      "title": "영업일 정보"
                    }
                  }
                },
                "example": {
                  "data": {
                    "tday_bsdy": "20260911",
                    "bef_bsdy": "20260910",
                    "bef_bef_bsdy": "20260909",
                    "nx_bsdy": "20260914",
                    "nx_nx_bsdy": "20260915",
                    "sta_hour": "090000",
                    "fin_hour": "153000"
                  },
                  "rsp_cd": "0000",
                  "rsp_msg": "정상 처리 되었습니다.",
                  "tr_cont": "0"
                }
              }
            }
          }
        },
        "x-tr-id": "obcpp_bsdy_021r",
        "x-tps": "10"
      }
    },
    "/reference/v1/market-hours": {
      "get": {
        "operationId": "ref_market_hours",
        "summary": "국내 장운영 조회",
        "tags": [
          "reference"
        ],
        "description": "국내 시장의 장운영 상태와 시간표를 조회합니다. 정규장 시작·종료뿐 아니라 시가·종가 단일가, 장전·장후 시간외, 시간외 단일가, 프로그램 호가 마감 시각까지 한 번에 내려옵니다. 조회할 시장은 mkpl_cls_code 에 두 자리로 넣으십시오. 받는 값은 \"01\" \"02\" \"03\" \"04\" \"05\" \"06\" \"15\" \"16\" \"17\" \"18\" \"20\" \"21\" \"22\" \"23\" \"24\" \"27\" 의 16개입니다. 주문을 낼 수 있는 상태인지는 시각만 보지 마시고 oder_stop_yn 과 oder_trnm_stat_code 를 함께 확인하십시오. 계좌와 무관한 참조 정보이며 pros_date 기준으로 하루 한 번 조회해 두고 쓰셔도 됩니다.",
        "parameters": [
          {
            "name": "mac_address",
            "in": "header",
            "required": true,
            "description": "호출 단말의 MAC 주소입니다. 12자리로 넣습니다. 넣지 않으시면 요청이 거부됩니다.",
            "schema": {
              "type": "string",
              "title": "사용자 MAC_ADDRESS",
              "description": "호출 단말의 MAC 주소입니다. 12자리로 넣습니다. 넣지 않으시면 요청이 거부됩니다.",
              "maxLength": 12
            }
          },
          {
            "name": "mkpl_cls_code",
            "in": "query",
            "required": true,
            "description": "조회할 매매시장입니다. 두 자리로 넣으십시오. \"1\"처럼 한 자리로 넣으면 자료 없음으로 응답합니다.\n\n받는 값은 다음 16개입니다.\n\"01\" \"02\" \"03\" \"04\" \"05\" \"06\" \"15\" \"16\" \"17\" \"18\" \"20\" \"21\" \"22\" \"23\" \"24\" \"27\"\n\n이름이 확인된 시장은 \"01\" 유가증권 · \"02\" 코넥스 · \"03\" 코스닥 · \"24\" 소액채권 입니다.\n\n(query string) 이 항목을 빠뜨리시거나 빈 값·공백을 넣으시면 오류가 아니라 응답코드 \"5820\" 과 함께 항목이 모두 빈 값인 한 건이 내려옵니다. 한 자리로 넣으셨을 때나 목록에 없는 두 자리를 넣으셨을 때도 같습니다. 응답의 매매시장구분코드(mkpl_cls_code)가 비어 있으면 조회가 되지 않은 것이므로, 자료 유무는 그 항목으로 판정하십시오.",
            "schema": {
              "type": "string",
              "title": "매매시장구분코드",
              "description": "조회할 매매시장입니다. 두 자리로 넣으십시오. \"1\"처럼 한 자리로 넣으면 자료 없음으로 응답합니다.\n\n받는 값은 다음 16개입니다.\n\"01\" \"02\" \"03\" \"04\" \"05\" \"06\" \"15\" \"16\" \"17\" \"18\" \"20\" \"21\" \"22\" \"23\" \"24\" \"27\"\n\n이름이 확인된 시장은 \"01\" 유가증권 · \"02\" 코넥스 · \"03\" 코스닥 · \"24\" 소액채권 입니다.\n\n(query string) 이 항목을 빠뜨리시거나 빈 값·공백을 넣으시면 오류가 아니라 응답코드 \"5820\" 과 함께 항목이 모두 빈 값인 한 건이 내려옵니다. 한 자리로 넣으셨을 때나 목록에 없는 두 자리를 넣으셨을 때도 같습니다. 응답의 매매시장구분코드(mkpl_cls_code)가 비어 있으면 조회가 되지 않은 것이므로, 자료 유무는 그 항목으로 판정하십시오.",
              "maxLength": 2
            },
            "example": "01"
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tr_cont": {
                      "type": "string",
                      "title": "연속조회 여부",
                      "description": "항상 \"0\"으로 내려옵니다. 이 API는 연속조회를 지원하지 않습니다.",
                      "maxLength": 1
                    },
                    "rsp_cd": {
                      "type": "string",
                      "title": "응답코드",
                      "description": "이 API 의 성공 응답 코드는 \"5766\"(조회 완료)입니다.\n\n오류는 종류와 무관하게 HTTP 500 으로 반환되므로, 성공·실패는 HTTP 상태가 아니라 이 값으로 판정하십시오.",
                      "maxLength": 8
                    },
                    "rsp_msg": {
                      "type": "string",
                      "title": "응답메시지",
                      "description": "처리 결과 메시지입니다. 오류일 때 사유가 담기며, 더 자세한 사유는 rsp_sub_msg 에 담깁니다.",
                      "maxLength": 200
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "mkpl_cls_code": {
                          "type": "string",
                          "title": "매매시장구분코드",
                          "description": "요청에 넣은 매매시장 구분 코드가 그대로 돌아옵니다.\n\"01\": 유가증권\n\"02\": 코넥스\n\"03\": 코스닥\n\"24\": 소액채권\n\n시장마다 내려오는 시각 항목과 장운영 코드 체계가 다르므로, 응답을 해석하기 전에 이 값을 먼저 확인하십시오.",
                          "maxLength": 2
                        },
                        "frml_ovtm_cls_code": {
                          "type": "string",
                          "title": "정규시간외구분코드",
                          "description": "시장마다 내려오는 한 자리 구분 코드입니다. \"0\"·\"1\"·\"3\"·\"4\" 가 내려옵니다. 같은 시각에도 시장에 따라 값이 다르고, 같은 시장이라도 조회 시점에 따라 달라집니다. 어느 값이 어떤 상태를 뜻하는지는 응답만으로 알 수 없으며, 값에 대응하는 이름은 함께 오지 않습니다. 장 개시·종료 판단이 목적이시면 이 코드 대신 같은 응답의 시각 항목(oprc_untp_clsn_time·clpr_untp_fin_time 등)과 현재 시각을 비교하시고, 주문 가능 여부는 oder_stop_yn 과 함께 보십시오. 세 자리 장운영 상태 코드가 필요하시면 같은 응답의 장운영구분코드(mkop_cls_code)를 쓰십시오.",
                          "maxLength": 1
                        },
                        "mkop_cls_code": {
                          "type": "string",
                          "title": "장운영구분코드",
                          "description": "현재 시점의 장운영 상태 코드입니다. 세 자리 숫자이며 시장마다 코드 체계가 다르고, 같은 시장이라도 시각에 따라 값이 바뀝니다. 코드에 대응하는 이름은 응답에 함께 오지 않으며, 어떤 값이 어떤 상태를 뜻하는지는 응답만으로 알 수 없습니다.\n\n\"000\" 은 자료가 없다는 뜻이 아니라 그 시각에 해당하는 상태가 없다는 뜻이므로 오류로 다루지 마십시오. 장이 끝난 뒤에도 \"000\" 이 되지 않고 다른 값을 그대로 두는 시장이 더 많으므로, \"000\" 인지로 장 종료를 판정하지 마십시오.\n\n장 개시·종료 판단이 목적이시면 이 코드 대신 같은 응답의 시각 항목(oprc_untp_clsn_time·clpr_untp_fin_time 등)과 현재 시각을 비교하십시오.\n\n소액채권 시장(mkpl_cls_code \"24\")에서 \"035\" 는 소액채권 단일가매매 시간대(15:10~15:30)를 뜻합니다. 이 시간대에는 일반 주문이 아니라 단일가 주문으로 내셔야 합니다.",
                          "maxLength": 3
                        },
                        "mkob_mkop_cls_code": {
                          "type": "string",
                          "title": "장개시전장운영구분코드",
                          "description": "장 개시 전 구간의 장운영 상태 코드입니다. 현재 시점 상태인 mkop_cls_code 와는 다른 값이 내려옵니다. 유가증권 시장의 mkop_cls_code 가 \"506\" 일 때 이 항목은 \"139\" 였습니다. 세 자리 숫자이며 시장마다 코드 체계가 다르고, 코드에 대응하는 이름은 응답에 함께 오지 않습니다. 장 개시·종료 판단이 목적이시면 이 코드 대신 같은 응답의 시각 항목(oprc_untp_clsn_time·clpr_untp_fin_time 등)과 현재 시각을 비교하십시오.",
                          "maxLength": 3
                        },
                        "pgtr_mkop_cls_code": {
                          "type": "string",
                          "title": "프로그램매매장운영구분코드",
                          "description": "프로그램매매의 장운영 상태 코드입니다. 세 자리 숫자이며 시장마다 코드 체계가 다릅니다.\n전 시장 \"000\"\n\n코드에 대응하는 이름은 응답에 함께 오지 않습니다. 장 개시·종료 판단이 목적이시면 이 코드 대신 같은 응답의 시각 항목(oprc_untp_clsn_time·clpr_untp_fin_time 등)과 현재 시각을 비교하십시오.",
                          "maxLength": 3
                        },
                        "cptn_bltr_mkop_cls_code": {
                          "type": "string",
                          "title": "경쟁대량매매장운영구분코드",
                          "description": "경쟁 대량매매의 장운영 상태 코드입니다. 세 자리 숫자이며 시장마다 코드 체계가 다릅니다.\n유가증권·코넥스 \"372\" · 코스닥 \"000\" · 소액채권은 빈 문자열\n\n코드에 대응하는 이름은 응답에 함께 오지 않습니다. 장 개시·종료 판단이 목적이시면 이 코드 대신 같은 응답의 시각 항목(oprc_untp_clsn_time·clpr_untp_fin_time 등)과 현재 시각을 비교하십시오.\n\n소액채권 시장(mkpl_cls_code \"24\")에서는 \"000\" 이 아니라 빈 문자열이 내려옵니다.",
                          "maxLength": 3
                        },
                        "trst_mkop_cls_code": {
                          "type": "string",
                          "title": "자사주장운영구분코드",
                          "description": "자사주 매매의 장운영 상태 코드입니다. 세 자리 숫자이며 시장마다 코드 체계가 다릅니다.\n유가증권·코넥스 \"333\" · 코스닥·소액채권 \"000\"\n\n코드에 대응하는 이름은 응답에 함께 오지 않습니다. 장 개시·종료 판단이 목적이시면 이 코드 대신 같은 응답의 시각 항목(oprc_untp_clsn_time·clpr_untp_fin_time 등)과 현재 시각을 비교하십시오.",
                          "maxLength": 3
                        },
                        "buyin_mkop_cls_code": {
                          "type": "string",
                          "title": "BUYIN장운영구분코드",
                          "description": "BUYIN(결제 부족분 강제 매수)의 장운영 상태 코드입니다. 세 자리 숫자이며 시장마다 코드 체계가 다릅니다.\n유가증권·코넥스 \"119\" · 코스닥·소액채권 \"000\"\n\n코드에 대응하는 이름은 응답에 함께 오지 않습니다. 장 개시·종료 판단이 목적이시면 이 코드 대신 같은 응답의 시각 항목(oprc_untp_clsn_time·clpr_untp_fin_time 등)과 현재 시각을 비교하십시오.",
                          "maxLength": 3
                        },
                        "oprc_untp_begn_time": {
                          "type": "string",
                          "title": "시가단일가개시시각",
                          "description": "시가 단일가 매매 개시 시각입니다.\n\n자릿수가 고정이 아닙니다. 시장에 따라 HHMMSSmmm 9자리로 오기도 하고 HHMMSS 6자리로 오기도 합니다. 해당 시간대가 없는 시장에서는 \"000000\" 이나 빈 문자열이 옵니다.\n\n앞에서부터 6자리(HHMMSS)만 잘라 쓰시고, 9자리 고정으로 자르는 처리는 피하십시오.",
                          "maxLength": 9
                        },
                        "oprc_untp_clsn_time": {
                          "type": "string",
                          "title": "시가단일가마감시각",
                          "description": "시가 단일가 매매 마감 시각입니다. 이 시각에 시가가 결정되고 정규장이 시작됩니다.\n\n자릿수가 고정이 아닙니다. 시장에 따라 HHMMSSmmm 9자리로 오기도 하고 HHMMSS 6자리로 오기도 합니다. 해당 시간대가 없는 시장에서는 \"000000\" 이나 빈 문자열이 옵니다.\n\n앞에서부터 6자리(HHMMSS)만 잘라 쓰시고, 9자리 고정으로 자르는 처리는 피하십시오.",
                          "maxLength": 9
                        },
                        "pgm_aspr_fin_time": {
                          "type": "string",
                          "title": "프로그램호가종료시각",
                          "description": "프로그램매매 호가 접수 종료 시각입니다.\n\n자릿수가 고정이 아닙니다. 같은 필드라도 시장에 따라 HHMMSS 6자리 · 8자리 · HHMMSSmmm 9자리로 내려오며, 밀리초가 000 이 아닌 값도 옵니다. 해당 시간대가 없는 시장에서는 \"000000\" 또는 빈 문자열이 옵니다.\n\n앞에서부터 6자리(HHMMSS)만 잘라 쓰시고, 고정 길이로 자르는 처리는 피하십시오.",
                          "maxLength": 9
                        },
                        "trst_tr_fin_time": {
                          "type": "string",
                          "title": "자사주거래종료시각",
                          "description": "자사주 거래가 끝나는 시각입니다.\n\n자릿수가 고정이 아닙니다. 시장에 따라 HHMMSSmmm 9자리로 오기도 하고 HHMMSS 6자리로 오기도 합니다. 해당 시간대가 없는 시장에서는 \"000000\" 이나 빈 문자열이 옵니다.\n\n앞에서부터 6자리(HHMMSS)만 잘라 쓰시고, 9자리 고정으로 자르는 처리는 피하십시오.",
                          "maxLength": 9
                        },
                        "clpr_untp_begn_time": {
                          "type": "string",
                          "title": "종가단일가개시시각",
                          "description": "종가 단일가 매매 개시 시각입니다.\n\n자릿수가 고정이 아닙니다. 시장에 따라 HHMMSSmmm 9자리로 오기도 하고 HHMMSS 6자리로 오기도 합니다. 해당 시간대가 없는 시장에서는 \"000000\" 이나 빈 문자열이 옵니다.\n\n앞에서부터 6자리(HHMMSS)만 잘라 쓰시고, 9자리 고정으로 자르는 처리는 피하십시오.",
                          "maxLength": 9
                        },
                        "clpr_untp_fin_time": {
                          "type": "string",
                          "title": "종가단일가종료시각",
                          "description": "종가 단일가 매매가 끝나는 시각입니다. 정규장은 이 시각에 끝납니다.\n\n자릿수가 고정이 아닙니다. 시장에 따라 HHMMSS 6자리로 오기도 하고 HHMMSSmmm 9자리로 오기도 하며, 끝 세 자리가 000 이 아닌 값도 옵니다.\n\n해당 시간대가 없는 시장에서는 값 없음이 \"000000\" 으로 오기도 하고 \"000000000\" 으로 오기도 하므로, 자릿수와 무관하게 앞에서부터 6자리(HHMMSS)만 잘라 쓰시고 고정 길이로 자르는 처리는 피하십시오.",
                          "maxLength": 9
                        },
                        "mkob_ovtm_begn_time": {
                          "type": "string",
                          "title": "장개시전시간외개시시각",
                          "description": "장 개시 전 시간외 매매 개시 시각입니다.\n\n자릿수가 고정이 아닙니다. 시장에 따라 HHMMSSmmm 9자리로 오기도 하고 HHMMSS 6자리로 오기도 합니다. 해당 시간대가 없는 시장에서는 \"000000\" 이나 빈 문자열이 옵니다.\n\n앞에서부터 6자리(HHMMSS)만 잘라 쓰시고, 9자리 고정으로 자르는 처리는 피하십시오.",
                          "maxLength": 9
                        },
                        "mkob_ovtm_fin_time": {
                          "type": "string",
                          "title": "장개시전시간외종료시각",
                          "description": "장 개시 전 시간외 매매 종료 시각입니다.\n\n자릿수가 고정이 아닙니다. 시장에 따라 HHMMSSmmm 9자리로 오기도 하고 HHMMSS 6자리로 오기도 합니다. 해당 시간대가 없는 시장에서는 \"000000\" 이나 빈 문자열이 옵니다.\n\n앞에서부터 6자리(HHMMSS)만 잘라 쓰시고, 9자리 고정으로 자르는 처리는 피하십시오.",
                          "maxLength": 9
                        },
                        "mkfa_ovtm_begn_time": {
                          "type": "string",
                          "title": "장종료후시간외개시시각",
                          "description": "장 종료 후 시간외 매매 개시 시각입니다.\n\n자릿수가 고정이 아닙니다. 시장에 따라 HHMMSSmmm 9자리로 오기도 하고 HHMMSS 6자리로 오기도 합니다. 해당 시간대가 없는 시장에서는 \"000000\" 이나 빈 문자열이 옵니다.\n\n앞에서부터 6자리(HHMMSS)만 잘라 쓰시고, 9자리 고정으로 자르는 처리는 피하십시오.",
                          "maxLength": 9
                        },
                        "mkfa_ovtm_cntg_indc_time": {
                          "type": "string",
                          "title": "장종료후시간외체결지시시각",
                          "description": "장 종료 후 시간외 매매의 체결 지시 시각입니다.\n\n자릿수가 고정이 아닙니다. 시장에 따라 HHMMSSmmm 9자리로 오기도 하고 HHMMSS 6자리로 오기도 합니다. 해당 시간대가 없는 시장에서는 \"000000\" 이나 빈 문자열이 옵니다.\n\n앞에서부터 6자리(HHMMSS)만 잘라 쓰시고, 9자리 고정으로 자르는 처리는 피하십시오.",
                          "maxLength": 9
                        },
                        "mkfa_ovtm_fin_time": {
                          "type": "string",
                          "title": "장종료후시간외종료시각",
                          "description": "장 종료 후 시간외 매매 종료 시각입니다.\n\n자릿수가 고정이 아닙니다. 시장에 따라 HHMMSSmmm 9자리로 오기도 하고 HHMMSS 6자리로 오기도 합니다. 해당 시간대가 없는 시장에서는 \"000000\" 이나 빈 문자열이 옵니다.\n\n앞에서부터 6자리(HHMMSS)만 잘라 쓰시고, 9자리 고정으로 자르는 처리는 피하십시오.",
                          "maxLength": 9
                        },
                        "ovtm_untp_begn_time": {
                          "type": "string",
                          "title": "시간외단일가개시시각",
                          "description": "시간외 단일가 매매 개시 시각입니다.\n\n자릿수가 고정이 아닙니다. 시장에 따라 HHMMSSmmm 9자리로 오기도 하고 HHMMSS 6자리로 오기도 합니다. 해당 시간대가 없는 시장에서는 \"000000\" 이나 빈 문자열이 옵니다.\n\n앞에서부터 6자리(HHMMSS)만 잘라 쓰시고, 9자리 고정으로 자르는 처리는 피하십시오.",
                          "maxLength": 9
                        },
                        "ovtm_untp_fin_time": {
                          "type": "string",
                          "title": "시간외단일가종료시각",
                          "description": "시간외 단일가 매매 종료 시각입니다.\n\n자릿수가 고정이 아닙니다. 시장에 따라 HHMMSSmmm 9자리로 오기도 하고 HHMMSS 6자리로 오기도 합니다. 해당 시간대가 없는 시장에서는 \"000000\" 이나 빈 문자열이 옵니다.\n\n앞에서부터 6자리(HHMMSS)만 잘라 쓰시고, 9자리 고정으로 자르는 처리는 피하십시오.",
                          "maxLength": 9
                        },
                        "pros_date": {
                          "type": "string",
                          "title": "처리일자",
                          "description": "이 장운영 정보가 적용되는 일자입니다. YYYYMMDD 8자리.",
                          "maxLength": 8
                        },
                        "oder_stop_yn": {
                          "type": "string",
                          "title": "주문중지여부",
                          "description": "주문 중지 여부입니다. 시장에 따라 표기가 다릅니다.\n\n중지 판정이 필요하시면 \"1\" 또는 \"Y\" 인 경우만 중지로 보시고, 그 밖의 값은 정상으로 처리하십시오.",
                          "maxLength": 1
                        },
                        "oder_trnm_stat_code": {
                          "type": "string",
                          "title": "주문전송상태코드",
                          "description": "주문 전송 상태 코드입니다.\n\n값에 대응하는 이름은 응답에 함께 오지 않습니다. 주문 가능 여부 판단에는 이 값 대신 oder_stop_yn 과 시각 항목을 쓰십시오.",
                          "maxLength": 1
                        },
                        "itmt_cptn_bltr_fin_time": {
                          "type": "string",
                          "title": "장중경쟁대량매매종료시각",
                          "description": "장중 경쟁 대량매매가 끝나는 시각입니다.\n\n자릿수가 고정이 아닙니다. 유가증권·코넥스는 HHMMSSmmm 9자리, 코스닥은 8자리(\"14000000\")로 내려오고, 해당 시간대가 없는 시장에서는 \"00000000\" 이나 빈 문자열이 옵니다.\n\n앞에서부터 6자리(HHMMSS)만 잘라 쓰시고, 9자리 고정으로 자르는 처리는 피하십시오.",
                          "maxLength": 9
                        },
                        "gnrl_byng_trns_tr_begn_time": {
                          "type": "string",
                          "title": "일반매입인도거래개시시각",
                          "description": "일반 매입인도(BUYIN) 거래 개시 시각입니다.\n\n자릿수가 고정이 아닙니다. 시장에 따라 HHMMSSmmm 9자리로 오기도 하고 HHMMSS 6자리로 오기도 합니다. 해당 시간대가 없는 시장에서는 \"000000\" 이나 빈 문자열이 옵니다.\n\n앞에서부터 6자리(HHMMSS)만 잘라 쓰시고, 9자리 고정으로 자르는 처리는 피하십시오.",
                          "maxLength": 9
                        },
                        "gnrl_byng_trns_tr_fin_time": {
                          "type": "string",
                          "title": "일반매입인도거래종료시각",
                          "description": "일반 매입인도(BUYIN) 거래 종료 시각입니다.\n\n자릿수가 고정이 아닙니다. 시장에 따라 HHMMSSmmm 9자리로 오기도 하고 HHMMSS 6자리로 오기도 합니다. 해당 시간대가 없는 시장에서는 \"000000\" 이나 빈 문자열이 옵니다.\n\n앞에서부터 6자리(HHMMSS)만 잘라 쓰시고, 9자리 고정으로 자르는 처리는 피하십시오.",
                          "maxLength": 9
                        },
                        "tday_byng_trns_tr_begn_time": {
                          "type": "string",
                          "title": "당일매입인도거래개시시각",
                          "description": "당일 매입인도(BUYIN) 거래 개시 시각입니다.\n\n자릿수가 고정이 아닙니다. 시장에 따라 HHMMSSmmm 9자리로 오기도 하고 HHMMSS 6자리로 오기도 합니다. 해당 시간대가 없는 시장에서는 \"000000\" 이나 빈 문자열이 옵니다.\n\n앞에서부터 6자리(HHMMSS)만 잘라 쓰시고, 9자리 고정으로 자르는 처리는 피하십시오.",
                          "maxLength": 9
                        },
                        "tday_byng_trns_tr_fin_time": {
                          "type": "string",
                          "title": "당일매입인도거래종료시각",
                          "description": "당일 매입인도(BUYIN) 거래 종료 시각입니다.\n\n자릿수가 고정이 아닙니다. 시장에 따라 HHMMSSmmm 9자리로 오기도 하고 HHMMSS 6자리로 오기도 합니다. 해당 시간대가 없는 시장에서는 \"000000\" 이나 빈 문자열이 옵니다.\n\n앞에서부터 6자리(HHMMSS)만 잘라 쓰시고, 9자리 고정으로 자르는 처리는 피하십시오.",
                          "maxLength": 9
                        }
                      },
                      "title": "장운영 정보"
                    }
                  }
                },
                "example": {
                  "data": {
                    "mkpl_cls_code": "01",
                    "frml_ovtm_cls_code": "0",
                    "mkop_cls_code": "000",
                    "mkob_mkop_cls_code": "000",
                    "pgtr_mkop_cls_code": "000",
                    "cptn_bltr_mkop_cls_code": "000",
                    "trst_mkop_cls_code": "000",
                    "buyin_mkop_cls_code": "000",
                    "oprc_untp_begn_time": "083000000",
                    "oprc_untp_clsn_time": "090000000",
                    "pgm_aspr_fin_time": "152000",
                    "trst_tr_fin_time": "150000000",
                    "clpr_untp_begn_time": "152000000",
                    "clpr_untp_fin_time": "153000000",
                    "mkob_ovtm_begn_time": "083000000",
                    "mkob_ovtm_fin_time": "084000000",
                    "mkfa_ovtm_begn_time": "153000000",
                    "mkfa_ovtm_cntg_indc_time": "154000000",
                    "mkfa_ovtm_fin_time": "160000000",
                    "ovtm_untp_begn_time": "160000000",
                    "ovtm_untp_fin_time": "200000000",
                    "pros_date": "20260911",
                    "oder_stop_yn": "0",
                    "oder_trnm_stat_code": "2",
                    "itmt_cptn_bltr_fin_time": "150000000",
                    "gnrl_byng_trns_tr_begn_time": "153500000",
                    "gnrl_byng_trns_tr_fin_time": "154500000",
                    "tday_byng_trns_tr_begn_time": "175000000",
                    "tday_byng_trns_tr_fin_time": "180000000"
                  },
                  "rsp_cd": "5766",
                  "rsp_msg": "조회가 완료되었습니다.",
                  "tr_cont": "0"
                }
              }
            }
          }
        },
        "x-tr-id": "obtrs_sstm_506r",
        "x-tps": "10"
      }
    },
    "/market/v1/candles/days": {
      "get": {
        "operationId": "market_candles_days",
        "summary": "시세추이 조회(일봉)",
        "tags": [
          "domestic_market"
        ],
        "description": "국내주식 한 종목의 일별 시세를 최근 일자부터 조회합니다. 한 건이 하루치 봉이며 시가·고가·저가·종가(stck_clpr)와 거래량·거래대금, 기간별 평균 거래량 대비 비율(d5_rltv·d20_rltv·d60_rltv 등), 외국인·기관 순매수 수량을 반환합니다.\n당일 봉은 장중에도 장 종료 후에도 생성되지 않습니다. 목록의 첫 건은 언제나 직전 영업일이므로, 당일 시세가 필요하시면 현재가 조회(/market/v1/prices)를 사용하십시오.",
        "parameters": [
          {
            "name": "mac_address",
            "in": "header",
            "required": true,
            "description": "호출 단말의 MAC 주소입니다. 12자리로 넣습니다. 넣지 않으시면 요청이 거부됩니다.",
            "schema": {
              "type": "string",
              "title": "사용자 MAC_ADDRESS",
              "description": "호출 단말의 MAC 주소입니다. 12자리로 넣습니다. 넣지 않으시면 요청이 거부됩니다.",
              "maxLength": 12
            }
          },
          {
            "name": "mrkt_div_code",
            "in": "query",
            "required": true,
            "description": "어느 시장의 시세를 볼지 정합니다.\n\"J\": KRX\n\"NJ\": 대체거래소(NXT)\n\"TJ\": KRX + NXT 통합\n\n같은 종목이라도 시장마다 가격과 거래량이 다릅니다. \"TJ\"의 거래량이 \"J\"와 \"NJ\"의 합과 일치하지 않는 종목이 있습니다. 합보다 큰 값이 내려온 종목이 있었으므로, 세 값을 더하거나 빼어 쓰지 마시고 필요한 시장의 값을 그대로 쓰십시오.\n\n대체거래소에 상장되지 않은 종목을 \"NJ\" 로 조회하시면 오류 없이 빈 배열이 내려옵니다. 0건일 때는 시장 구분부터 확인하십시오.\n\n위 세 값만 넣으십시오. 그 밖의 값은 오류가 되기도 하고, 오류 없이 빈 배열이나 \"J\"와 같은 자료가 내려오기도 하여 응답만으로는 잘못 넣은 것을 알 수 없습니다.",
            "schema": {
              "type": "string",
              "title": "시장 구분 코드",
              "description": "어느 시장의 시세를 볼지 정합니다.\n\"J\": KRX\n\"NJ\": 대체거래소(NXT)\n\"TJ\": KRX + NXT 통합\n\n같은 종목이라도 시장마다 가격과 거래량이 다릅니다. \"TJ\"의 거래량이 \"J\"와 \"NJ\"의 합과 일치하지 않는 종목이 있습니다. 합보다 큰 값이 내려온 종목이 있었으므로, 세 값을 더하거나 빼어 쓰지 마시고 필요한 시장의 값을 그대로 쓰십시오.\n\n대체거래소에 상장되지 않은 종목을 \"NJ\" 로 조회하시면 오류 없이 빈 배열이 내려옵니다. 0건일 때는 시장 구분부터 확인하십시오.\n\n위 세 값만 넣으십시오. 그 밖의 값은 오류가 되기도 하고, 오류 없이 빈 배열이나 \"J\"와 같은 자료가 내려오기도 하여 응답만으로는 잘못 넣은 것을 알 수 없습니다.",
              "maxLength": 2
            },
            "example": "J"
          },
          {
            "name": "iscd",
            "in": "query",
            "required": true,
            "description": "종목 코드입니다. 6자리(005930)와 A를 붙인 형태(A005930)를 모두 받습니다. 표준코드(KR7005930003)는 받지 않습니다. 앞의 A 는 대문자로만 넣으십시오. 소문자 \"a005930\" 은 오류가 아니라 빈 목록이 정상 응답코드와 함께 내려옵니다. 값 앞뒤의 공백은 무시되므로 \"005930 \" 과 \" 005930\" 은 정상 조회됩니다. 이 API 는 6자리 또는 A + 6자리만 받습니다. 뒤에 군더더기가 붙은 값 (\"A005930ZZZZZ\")은 오류가 나지 않고 봉이 한 건만 내려옵니다. 40건을 받으신 줄 알고 쓰시면 차트가 어긋납니다. 등록되지 않은 종목코드나 자릿수가 맞지 않는 값을 넣으시면 오류가 아니라 빈 목록이 정상 응답코드와 함께 내려옵니다. 자료가 없는 기간과 구분되지 않으므로, 빈 목록을 받으셨을 때는 종목코드부터 확인하십시오.",
            "schema": {
              "type": "string",
              "title": "종목 코드",
              "description": "종목 코드입니다. 6자리(005930)와 A를 붙인 형태(A005930)를 모두 받습니다. 표준코드(KR7005930003)는 받지 않습니다. 앞의 A 는 대문자로만 넣으십시오. 소문자 \"a005930\" 은 오류가 아니라 빈 목록이 정상 응답코드와 함께 내려옵니다. 값 앞뒤의 공백은 무시되므로 \"005930 \" 과 \" 005930\" 은 정상 조회됩니다. 이 API 는 6자리 또는 A + 6자리만 받습니다. 뒤에 군더더기가 붙은 값 (\"A005930ZZZZZ\")은 오류가 나지 않고 봉이 한 건만 내려옵니다. 40건을 받으신 줄 알고 쓰시면 차트가 어긋납니다. 등록되지 않은 종목코드나 자릿수가 맞지 않는 값을 넣으시면 오류가 아니라 빈 목록이 정상 응답코드와 함께 내려옵니다. 자료가 없는 기간과 구분되지 않으므로, 빈 목록을 받으셨을 때는 종목코드부터 확인하십시오.",
              "maxLength": 12
            },
            "example": "000660"
          },
          {
            "name": "mod_stpr_cls_code",
            "in": "query",
            "required": false,
            "description": "수정주가구분코드입니다. \"0\" 또는 \"1\" 을 넣으시며, 넣지 않으시면 \"0\" 으로 조회합니다.\n\n목록 밖의 값(\"2\"·\"abc\"·빈 값)을 넣으셔도 오류가 나지 않고 정상 응답코드와 함께 자료가 내려옵니다. 또한 \"0\" 과 \"1\" 의 결과가 같게 내려오는 종목이 있으므로, 수정주가가 반영된 값인지를 이 항목만으로 판단하지 마십시오. (query string)",
            "schema": {
              "type": "string",
              "title": "수정주가구분코드",
              "description": "수정주가구분코드입니다. \"0\" 또는 \"1\" 을 넣으시며, 넣지 않으시면 \"0\" 으로 조회합니다.\n\n목록 밖의 값(\"2\"·\"abc\"·빈 값)을 넣으셔도 오류가 나지 않고 정상 응답코드와 함께 자료가 내려옵니다. 또한 \"0\" 과 \"1\" 의 결과가 같게 내려오는 종목이 있으므로, 수정주가가 반영된 값인지를 이 항목만으로 판단하지 마십시오. (query string)",
              "maxLength": 3
            }
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rsp_cd": {
                      "type": "string",
                      "title": "응답코드",
                      "description": "이 API 의 성공 응답 코드입니다.\n\"0000\": 정상 처리\n\n조회 결과가 없을 때도 \"0000\" 이 내려옵니다. 목록을 내려주는 조회는 빈 배열이, 한 건을 내려주는 조회는 모든 값이 0 인 내용이 \"0000\" 과 함께 옵니다. 자료가 없다는 것을 알려주는 별도 코드는 내려오지 않으므로, 결과 건수나 값으로 직접 확인하십시오.\n\n오류는 종류와 무관하게 HTTP 500 으로 반환됩니다. 성공·실패는 HTTP 상태가 아니라 이 값으로 판정하시고, 다른 계열 API 는 성공 코드가 \"0000\" 이 아닐 수 있으니 API 마다 확인하십시오.",
                      "maxLength": 8
                    },
                    "rsp_msg": {
                      "type": "string",
                      "title": "응답메시지",
                      "description": "응답 메시지입니다. 오류일 때 원인이 이 값에 담깁니다.\n\n오류 응답에는 data 와 tr_cont 가 담기지 않습니다. 오류일 때 응답 본문은 rsp_cd·rsp_msg (일부 API 는 rsp_sub_msg 까지)만으로 이루어집니다. data 를 먼저 꺼내는 코드는 오류에서 멈추므로, rsp_cd 를 먼저 확인하신 뒤 data 를 읽으십시오.\n\n이때는 rsp_cd 도 없으므로, 본문을 JSON 으로 읽기 전에 HTTP 상태와 Content-Type 을 먼저 확인하십시오.",
                      "maxLength": 200
                    },
                    "rsp_sub_msg": {
                      "type": "string",
                      "title": "응답 상세 메시지",
                      "description": "오류일 때만 내려옵니다. 누락된 항목명이나 허용 단위처럼 구체적인 사유가 담깁니다.\n(예: \"조회시작일\" · \"호가 단위 : 0.01USD\")\n정상 응답에는 포함되지 않습니다.",
                      "maxLength": 200
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string",
                            "title": "일자",
                            "description": "일자(YYYYMMDD)",
                            "maxLength": 8
                          },
                          "oprc": {
                            "type": "number",
                            "title": "시가",
                            "description": "당일 첫 체결 가격(시가)입니다."
                          },
                          "hprc": {
                            "type": "number",
                            "title": "고가",
                            "description": "당일 장중 가장 높았던 체결 가격(고가)입니다."
                          },
                          "lprc": {
                            "type": "number",
                            "title": "저가",
                            "description": "당일 장중 가장 낮았던 체결 가격(저가)입니다."
                          },
                          "stck_clpr": {
                            "type": "number",
                            "title": "주식종가",
                            "description": "그날의 마지막 체결 가격(종가)입니다."
                          },
                          "prdy_vrss_sign": {
                            "type": "string",
                            "title": "전일대비부호",
                            "description": "전일 대비 부호입니다.\n\"1\": 상한\n\"2\": 상승\n\"3\": 보합\n\"4\": 하한\n\"5\": 하락\n\n그 시장에서 그날 체결이 한 건도 없었던 봉에는 \"0\" 이 내려옵니다. 다섯 값만 담긴다고 보고 변환하지 마십시오.",
                            "maxLength": 2
                          },
                          "prdy_vrss": {
                            "type": "number",
                            "title": "전일대비",
                            "description": "전일 종가 대비 등락 금액"
                          },
                          "prdy_ctrt": {
                            "type": "string",
                            "title": "전일대비율",
                            "description": "전일 종가 대비 등락률(%)",
                            "maxLength": 9
                          },
                          "acml_vol": {
                            "type": "number",
                            "title": "누적거래량",
                            "description": "장 시작부터 지금까지 체결된 주식 수를 모두 더한 값입니다. 개별 체결 수량이 아닙니다."
                          },
                          "acml_tr_pbmn": {
                            "type": "number",
                            "title": "누적거래대금",
                            "description": "장 시작부터 지금까지 체결된 거래대금을 모두 더한 값입니다. 원 단위입니다."
                          },
                          "tday_rltv": {
                            "type": "string",
                            "title": "당일체결강도",
                            "description": "그날의 체결강도입니다. 매수로 체결된 수량을 매도로 체결된 수량으로 나눠 100 을 곱한 값이며, 100 보다 크면 그날 매수 체결이 더 많았다는 뜻입니다.\n\n위쪽 한도가 있어 999.99 에서 멈춥니다. 거래가 적은 날에는 999.99 가 실제 배수가 아니라 한도에 닿은 값이므로 그대로 견주지 마십시오."
                          },
                          "d5_rltv": {
                            "type": "string",
                            "title": "5일체결강도",
                            "description": "최근 5거래일의 체결강도입니다. 매수로 체결된 수량을 매도로 체결된 수량으로 나눠 100을 곱한 값이며, 100보다 크면 그 기간 매수 체결이 더 많았다는 뜻입니다.\n소수 2자리 문자열로 내려옵니다. (예: \"92.47\")"
                          },
                          "d20_rltv": {
                            "type": "string",
                            "title": "20일체결강도",
                            "description": "최근 20거래일의 체결강도입니다. 매수로 체결된 수량을 매도로 체결된 수량으로 나눠 100을 곱한 값이며, 100보다 크면 그 기간 매수 체결이 더 많았다는 뜻입니다.\n소수 2자리 문자열로 내려옵니다. (예: \"92.47\")"
                          },
                          "d60_rltv": {
                            "type": "string",
                            "title": "60일체결강도",
                            "description": "최근 60거래일의 체결강도입니다. 매수로 체결된 수량을 매도로 체결된 수량으로 나눠 100을 곱한 값이며, 100보다 크면 그 기간 매수 체결이 더 많았다는 뜻입니다.\n소수 2자리 문자열로 내려옵니다. (예: \"92.47\")"
                          },
                          "d120_rltv": {
                            "type": "string",
                            "title": "120일체결강도",
                            "description": "최근 120거래일의 체결강도입니다. 매수로 체결된 수량을 매도로 체결된 수량으로 나눠 100을 곱한 값이며, 100보다 크면 그 기간 매수 체결이 더 많았다는 뜻입니다.\n소수 2자리 문자열로 내려옵니다. (예: \"92.47\")"
                          },
                          "d240_rltv": {
                            "type": "string",
                            "title": "240일체결강도",
                            "description": "최근 240거래일의 체결강도입니다. 매수로 체결된 수량을 매도로 체결된 수량으로 나눠 100을 곱한 값이며, 100보다 크면 그 기간 매수 체결이 더 많았다는 뜻입니다.\n소수 2자리 문자열로 내려옵니다. (예: \"92.47\")"
                          },
                          "d360_rltv": {
                            "type": "string",
                            "title": "360일체결강도",
                            "description": "최근 360거래일의 체결강도입니다. 매수로 체결된 수량을 매도로 체결된 수량으로 나눠 100을 곱한 값이며, 100보다 크면 그 기간 매수 체결이 더 많았다는 뜻입니다.\n소수 2자리 문자열로 내려옵니다. (예: \"92.47\")"
                          },
                          "frgn_ntby_qty": {
                            "type": "number",
                            "title": "외국인순매수수량",
                            "description": "외국인 순매수 수량입니다. 매수 수량에서 매도 수량을 뺀 값이며, 음수는 순매도입니다.\n\n이 조회에서만 항목명이 _qty 로 끝납니다. 같은 응답의 기관 쪽은 orgn_ntby_vol 이고, 국내주식 투자자매매동향(/market/v1/investors)에서는 같은 값이 frgn_ntby_vol 로 내려옵니다. 여러 조회를 함께 쓰실 때 항목명을 맞추어 주십시오."
                          },
                          "orgn_ntby_vol": {
                            "type": "number",
                            "title": "기관순매수거래량",
                            "description": "기관 순매수 수량. 음수는 순매도입니다."
                          }
                        }
                      },
                      "title": "일봉 목록"
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "date": "20260910",
                      "oprc": 6668000,
                      "hprc": 12382000,
                      "lprc": 6668000,
                      "stck_clpr": 8389000,
                      "prdy_vrss_sign": "5",
                      "prdy_vrss": -1136000,
                      "prdy_ctrt": "-11.93",
                      "acml_vol": 8356,
                      "acml_tr_pbmn": 70755998000,
                      "tday_rltv": "296.96",
                      "d5_rltv": "98.78",
                      "d20_rltv": "112.80",
                      "d60_rltv": "103.67",
                      "d120_rltv": "103.19",
                      "d240_rltv": "104.97",
                      "d360_rltv": "106.53",
                      "frgn_ntby_qty": 0,
                      "orgn_ntby_vol": 0
                    },
                    {
                      "date": "20260909",
                      "oprc": 9525000,
                      "hprc": 9525000,
                      "lprc": 5129000,
                      "stck_clpr": 7650000,
                      "prdy_vrss_sign": "2",
                      "prdy_vrss": 323000,
                      "prdy_ctrt": "4.41",
                      "acml_vol": 356371,
                      "acml_tr_pbmn": 3157912575500,
                      "tday_rltv": "34.88",
                      "d5_rltv": "42.34",
                      "d20_rltv": "104.03",
                      "d60_rltv": "100.73",
                      "d120_rltv": "101.38",
                      "d240_rltv": "104.22",
                      "d360_rltv": "106.27",
                      "frgn_ntby_qty": -24752,
                      "orgn_ntby_vol": -191600
                    }
                  ],
                  "rsp_cd": "0000",
                  "rsp_msg": "정상 처리 되었습니다."
                }
              }
            }
          }
        },
        "x-tr-id": "ohhts_1002_003r",
        "x-tps": "10"
      }
    },
    "/market/v1/candles/minutes": {
      "get": {
        "operationId": "market_candles_minutes",
        "summary": "시세추이 조회(분봉)",
        "tags": [
          "domestic_market"
        ],
        "description": "국내주식 한 종목의 분봉을 조회합니다. hour_cls_code 로 봉 주기를 초 단위로 지정합니다(60 은 1분).\n시장 구분에 따라 결과가 크게 다릅니다. \"J\"(KRX)로는 빈 목록(\"data\": [])과 정상 응답코드(\"rsp_cd\": \"0000\")가 함께 내려왔고, \"NJ\"(NXT)·\"TJ\"(통합)로는 마지막 봉 1건만 내려왔습니다. 오류 응답이 아니므로 호출이 성공한 것처럼 보입니다. 반드시 목록의 건수를 확인하고 0건을 정상 결과로 해석하지 마십시오.\n체결추이 조회(틱·분)도 0건이었으므로 분 단위 시세의 대안으로 삼지 마시고, 당일 시세가 필요하시면 현재가 조회(/market/v1/prices), 일별 시세가 필요하시면 시세추이 조회(일봉)(/market/v1/candles/days)를 쓰십시오.",
        "parameters": [
          {
            "name": "mac_address",
            "in": "header",
            "required": true,
            "description": "호출 단말의 MAC 주소입니다. 12자리로 넣습니다. 넣지 않으시면 요청이 거부됩니다.",
            "schema": {
              "type": "string",
              "title": "사용자 MAC_ADDRESS",
              "description": "호출 단말의 MAC 주소입니다. 12자리로 넣습니다. 넣지 않으시면 요청이 거부됩니다.",
              "maxLength": 12
            }
          },
          {
            "name": "mrkt_div_code",
            "in": "query",
            "required": true,
            "description": "어느 시장의 시세를 볼지 정합니다.\n\"J\": KRX\n\"NJ\": 대체거래소(NXT)\n\"TJ\": KRX + NXT 통합\n\n같은 종목이라도 시장마다 가격과 거래량이 다릅니다. \"TJ\"의 거래량이 \"J\"와 \"NJ\"의 합과 일치하지 않는 종목이 있습니다. 합보다 큰 값이 내려온 종목이 있었으므로, 세 값을 더하거나 빼어 쓰지 마시고 필요한 시장의 값을 그대로 쓰십시오.",
            "schema": {
              "type": "string",
              "title": "시장 구분 코드",
              "description": "어느 시장의 시세를 볼지 정합니다.\n\"J\": KRX\n\"NJ\": 대체거래소(NXT)\n\"TJ\": KRX + NXT 통합\n\n같은 종목이라도 시장마다 가격과 거래량이 다릅니다. \"TJ\"의 거래량이 \"J\"와 \"NJ\"의 합과 일치하지 않는 종목이 있습니다. 합보다 큰 값이 내려온 종목이 있었으므로, 세 값을 더하거나 빼어 쓰지 마시고 필요한 시장의 값을 그대로 쓰십시오.",
              "maxLength": 2
            },
            "example": "J"
          },
          {
            "name": "iscd",
            "in": "query",
            "required": true,
            "description": "종목 코드입니다. 6자리(005930)와 A를 붙인 형태(A005930)를 모두 받습니다. 표준코드(KR7005930003)는 받지 않습니다. 앞의 A 는 대문자로만 넣으십시오. 소문자 \"a005930\" 은 오류가 아니라 빈 목록이 정상 응답코드와 함께 내려옵니다. 값 앞뒤의 공백은 무시되므로 \"005930 \" 과 \" 005930\" 은 정상 조회됩니다. 이 API 는 6자리 또는 A + 6자리만 받습니다. 뒤에 군더더기가 붙은 값 (\"A005930ZZZZZ\")은 오류가 나지 않고 봉이 한 건만 내려옵니다. 40건을 받으신 줄 알고 쓰시면 차트가 어긋납니다. 등록되지 않은 종목코드나 자릿수가 맞지 않는 값을 넣으시면 오류가 아니라 빈 목록이 정상 응답코드와 함께 내려옵니다. 자료가 없는 기간과 구분되지 않으므로, 빈 목록을 받으셨을 때는 종목코드부터 확인하십시오.",
            "schema": {
              "type": "string",
              "title": "종목 코드",
              "description": "종목 코드입니다. 6자리(005930)와 A를 붙인 형태(A005930)를 모두 받습니다. 표준코드(KR7005930003)는 받지 않습니다. 앞의 A 는 대문자로만 넣으십시오. 소문자 \"a005930\" 은 오류가 아니라 빈 목록이 정상 응답코드와 함께 내려옵니다. 값 앞뒤의 공백은 무시되므로 \"005930 \" 과 \" 005930\" 은 정상 조회됩니다. 이 API 는 6자리 또는 A + 6자리만 받습니다. 뒤에 군더더기가 붙은 값 (\"A005930ZZZZZ\")은 오류가 나지 않고 봉이 한 건만 내려옵니다. 40건을 받으신 줄 알고 쓰시면 차트가 어긋납니다. 등록되지 않은 종목코드나 자릿수가 맞지 않는 값을 넣으시면 오류가 아니라 빈 목록이 정상 응답코드와 함께 내려옵니다. 자료가 없는 기간과 구분되지 않으므로, 빈 목록을 받으셨을 때는 종목코드부터 확인하십시오.",
              "maxLength": 12
            },
            "example": "000660"
          },
          {
            "name": "hour_cls_code",
            "in": "query",
            "required": true,
            "description": "봉 간격을 초 단위로 입력합니다. 15는 15초, 60은 1분, 3600은 1시간입니다.\n\n반드시 넣으셔야 합니다. 빠뜨리면 오류가 반환됩니다. 값을 넣되 해석할 수 없는 값(빈 값·0·음수·문자)이면 60(1분)으로 조회됩니다.\n\n하루(86400초)에 가까운 큰 수는 넣지 마십시오. 오류가 아니라 빈 목록이 내려오거나, 체결시각(cntg_hour)이 \"320000\" 처럼 하루를 넘는 값으로 내려옵니다.\n\n해외는 해외주식 시세추이 조회(분봉)(/market/v1/overseas/candles/minutes)을 사용하십시오.",
            "schema": {
              "type": "string",
              "title": "봉 간격",
              "description": "봉 간격을 초 단위로 입력합니다. 15는 15초, 60은 1분, 3600은 1시간입니다.\n\n반드시 넣으셔야 합니다. 빠뜨리면 오류가 반환됩니다. 값을 넣되 해석할 수 없는 값(빈 값·0·음수·문자)이면 60(1분)으로 조회됩니다.\n\n하루(86400초)에 가까운 큰 수는 넣지 마십시오. 오류가 아니라 빈 목록이 내려오거나, 체결시각(cntg_hour)이 \"320000\" 처럼 하루를 넘는 값으로 내려옵니다.\n\n해외는 해외주식 시세추이 조회(분봉)(/market/v1/overseas/candles/minutes)을 사용하십시오.",
              "maxLength": 6
            },
            "example": "15"
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rsp_cd": {
                      "type": "string",
                      "title": "응답코드",
                      "description": "이 API 의 성공 응답 코드입니다.\n\"0000\": 정상 처리\n\n조회 결과가 없을 때도 \"0000\" 이 내려옵니다. 목록을 내려주는 조회는 빈 배열이, 한 건을 내려주는 조회는 모든 값이 0 인 내용이 \"0000\" 과 함께 옵니다. 자료가 없다는 것을 알려주는 별도 코드는 내려오지 않으므로, 결과 건수나 값으로 직접 확인하십시오.\n\n오류는 종류와 무관하게 HTTP 500 으로 반환됩니다. 성공·실패는 HTTP 상태가 아니라 이 값으로 판정하시고, 다른 계열 API 는 성공 코드가 \"0000\" 이 아닐 수 있으니 API 마다 확인하십시오.",
                      "maxLength": 8
                    },
                    "rsp_msg": {
                      "type": "string",
                      "title": "응답메시지",
                      "description": "응답 메시지입니다. 오류일 때 원인이 이 값에 담깁니다.\n\n오류 응답에는 data 와 tr_cont 가 담기지 않습니다. 오류일 때 응답 본문은 rsp_cd·rsp_msg (일부 API 는 rsp_sub_msg 까지)만으로 이루어집니다. data 를 먼저 꺼내는 코드는 오류에서 멈추므로, rsp_cd 를 먼저 확인하신 뒤 data 를 읽으십시오.\n\n이때는 rsp_cd 도 없으므로, 본문을 JSON 으로 읽기 전에 HTTP 상태와 Content-Type 을 먼저 확인하십시오.",
                      "maxLength": 200
                    },
                    "rsp_sub_msg": {
                      "type": "string",
                      "title": "응답 상세 메시지",
                      "description": "오류일 때만 내려옵니다. 누락된 항목명이나 허용 단위처럼 구체적인 사유가 담깁니다.\n(예: \"조회시작일\" · \"호가 단위 : 0.01USD\")\n정상 응답에는 포함되지 않습니다.",
                      "maxLength": 200
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cntg_hour": {
                            "type": "string",
                            "title": "체결시간",
                            "description": "그 봉 구간의 시각입니다. HHMMSS 여섯 자리로 내려옵니다.\n\n봉 간격(hour_cls_code)을 크게 넣으시면 하루를 넘는 값이 담깁니다. 24시를 넘긴 \"330000\" 과 여섯 자리를 넘긴 일곱 자리 값이 정상 응답코드와 함께 내려왔습니다. 시각으로 변환하시기 전에 여섯 자리인지 확인하시고, 봉 간격은 하루보다 짧게 넣으십시오.",
                            "maxLength": 6
                          },
                          "stck_prpr": {
                            "type": "number",
                            "title": "주식현재가",
                            "description": "가장 최근 체결된 가격입니다."
                          },
                          "tday_rltv": {
                            "type": "string",
                            "title": "당일체결강도",
                            "description": "당일 체결강도(%). 매수 체결량을 매도 체결량으로 나눈 값입니다.",
                            "maxLength": 9
                          },
                          "acml_vol": {
                            "type": "number",
                            "title": "누적거래량",
                            "description": "장 시작부터 지금까지 체결된 주식 수를 모두 더한 값입니다. 개별 체결 수량이 아닙니다."
                          },
                          "cntg_vol": {
                            "type": "number",
                            "title": "체결거래량",
                            "description": "해당 구간의 체결 수량"
                          },
                          "oprc": {
                            "type": "number",
                            "title": "시가",
                            "description": "그 봉 구간에서 처음 체결된 가격입니다. 봉마다 값이 다르며, 그날 전체의 시가가 아닙니다.\n\n당일 시가가 필요하시면 현재가 조회(/market/v1/prices)의 시가(oprc)를 쓰십시오."
                          },
                          "hprc": {
                            "type": "number",
                            "title": "고가",
                            "description": "그 봉 구간에서 체결된 가격 가운데 가장 높은 값입니다. 봉마다 값이 다르며, 그날 전체의 고가가 아닙니다.\n\n당일 고가가 필요하시면 현재가 조회(/market/v1/prices)의 고가(hprc)를 쓰십시오."
                          },
                          "lprc": {
                            "type": "number",
                            "title": "저가",
                            "description": "그 봉 구간에서 체결된 가격 가운데 가장 낮은 값입니다. 봉마다 값이 다르며, 그날 전체의 저가가 아닙니다.\n\n당일 저가가 필요하시면 현재가 조회(/market/v1/prices)의 저가(lprc)를 쓰십시오."
                          }
                        }
                      },
                      "title": "분봉 목록"
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "cntg_hour": "180800",
                      "stck_prpr": 4486000,
                      "tday_rltv": "4.12",
                      "acml_vol": 56361,
                      "cntg_vol": 2,
                      "oprc": 4486000,
                      "hprc": 4486000,
                      "lprc": 4486000
                    },
                    {
                      "cntg_hour": "174800",
                      "stck_prpr": 4486000,
                      "tday_rltv": "4.12",
                      "acml_vol": 56359,
                      "cntg_vol": 275,
                      "oprc": 4486000,
                      "hprc": 4486000,
                      "lprc": 4486000
                    }
                  ],
                  "rsp_cd": "0000",
                  "rsp_msg": "정상 처리 되었습니다.",
                  "tr_cont": "0"
                }
              }
            }
          }
        },
        "x-tr-id": "ohhts_kapi_005r",
        "x-tps": "10"
      }
    },
    "/market/v1/investors": {
      "get": {
        "operationId": "market_investors",
        "summary": "종목별 투자자매매동향",
        "tags": [
          "domestic_market"
        ],
        "description": "국내주식 한 종목의 일자별 투자자 매매동향을 조회합니다. 일자별 종가·전일대비와 함께 개인·외국인·기관의 순매수 수량(prsn_ntby_vol·frgn_ntby_vol·orgn_ntby_vol)과 순매수 대금을 반환하며, 최근 일자가 먼저 내려옵니다.\nfrom 과 to 는 둘 다 필수이며 YYYYMMDD 8자리입니다. 8자리가 아닌 값을 넣으셨을 때 두 항목은 서로 반대로 동작하니 특히 주의하십시오.\nfrom 이 8자리가 아니면 시작 일자 제한이 풀려, 요청하지 않은 과거 자료까지 한꺼번에 내려옵니다. from 에 \"202609\"(6자리)나 \"2026-09-01\"(하이픈)을 넣으면 오류 없이 2년치가 넘는 목록이 돌아옵니다. 응답코드는 정상(\"0000\")이라 잘못 넣으신 줄 알아채기 어렵습니다.\nfrom 을 날짜로 읽을 수 없는 값(빈 값·\"0\"·\"00000000\"·문자)으로 넣으시면 최근 40건이 내려오고, 그 첫 건의 date 가 \"00000000\" 으로 옵니다. 이 행은 일자와 가격이 비어 있고 순매수 수량만 다음 행과 같은 값으로 채워져 있으니 그대로 쓰지 마십시오. from 을 8자리 날짜로 넣으시면 이 행은 나타나지 않습니다.\nto 가 8자리가 아니면 반대로 빈 목록이 내려옵니다. 다만 8자리이되 날짜가 아닌 값(\"00000000\")을 넣으시면 종료일 제한이 풀려 from 을 기준으로 과거 40건이 내려옵니다.\n당일 자료는 포함되지 않습니다. 목록의 첫 건은 직전 영업일입니다.\n기관을 세부 주체별로 나눈 값과 프로그램 매매까지 필요하시면 종목별 투자자매매동향 상세(/market/v1/investors/detail)를 사용하십시오.",
        "parameters": [
          {
            "name": "mac_address",
            "in": "header",
            "required": true,
            "description": "호출 단말의 MAC 주소입니다. 12자리로 넣습니다. 넣지 않으시면 요청이 거부됩니다.",
            "schema": {
              "type": "string",
              "title": "사용자 MAC_ADDRESS",
              "description": "호출 단말의 MAC 주소입니다. 12자리로 넣습니다. 넣지 않으시면 요청이 거부됩니다.",
              "maxLength": 12
            }
          },
          {
            "name": "mrkt_div_code",
            "in": "query",
            "required": true,
            "description": "시장 구분입니다.\n\"J\": KRX\n\"NJ\": 대체거래소(NXT)\n\"TJ\": KRX + NXT 통합\n\n\"TJ\" 로 조회하셔도 \"J\"(KRX)와 같은 자료가 내려옵니다. 세 종목 모두 J 와 TJ 의 응답이 전 항목 동일했으므로 통합 매매동향으로 쓰지 마시고, 두 시장을 함께 보셔야 하면 \"J\" 와 \"NJ\" 를 각각 조회하십시오.\n\n위 세 값만 넣으십시오. 그 밖의 값이나 빈 값을 넣으셔도 오류가 나지 않고 KRX 자료가 내려와, 잘못 넣은 것을 응답만으로는 알 수 없습니다. (query string)",
            "schema": {
              "type": "string",
              "title": "시장 구분 코드",
              "description": "시장 구분입니다.\n\"J\": KRX\n\"NJ\": 대체거래소(NXT)\n\"TJ\": KRX + NXT 통합\n\n\"TJ\" 로 조회하셔도 \"J\"(KRX)와 같은 자료가 내려옵니다. 세 종목 모두 J 와 TJ 의 응답이 전 항목 동일했으므로 통합 매매동향으로 쓰지 마시고, 두 시장을 함께 보셔야 하면 \"J\" 와 \"NJ\" 를 각각 조회하십시오.\n\n위 세 값만 넣으십시오. 그 밖의 값이나 빈 값을 넣으셔도 오류가 나지 않고 KRX 자료가 내려와, 잘못 넣은 것을 응답만으로는 알 수 없습니다. (query string)",
              "maxLength": 2
            },
            "example": "J"
          },
          {
            "name": "iscd",
            "in": "query",
            "required": true,
            "description": "종목 코드입니다. 6자리(005930)와 A를 붙인 형태(A005930)를 모두 받습니다. 표준코드(KR7005930003)는 받지 않습니다. 앞의 A 는 대문자로만 넣으십시오. 소문자 \"a005930\" 은 오류가 아니라 빈 목록이 정상 응답코드와 함께 내려옵니다. 값 앞뒤의 공백은 무시되므로 \"005930 \" 과 \" 005930\" 은 정상 조회됩니다. 이 API 는 6자리 또는 A + 6자리만 받습니다. 뒤에 군더더기가 붙은 값 (\"A005930ZZZZZ\")은 오류가 나지 않고 빈 목록이 내려옵니다. 등록되지 않은 종목코드나 자릿수가 맞지 않는 값을 넣으시면 오류가 아니라 빈 목록이 정상 응답코드와 함께 내려옵니다. 자료가 없는 기간과 구분되지 않으므로, 빈 목록을 받으셨을 때는 종목코드부터 확인하십시오.",
            "schema": {
              "type": "string",
              "title": "종목 코드",
              "description": "종목 코드입니다. 6자리(005930)와 A를 붙인 형태(A005930)를 모두 받습니다. 표준코드(KR7005930003)는 받지 않습니다. 앞의 A 는 대문자로만 넣으십시오. 소문자 \"a005930\" 은 오류가 아니라 빈 목록이 정상 응답코드와 함께 내려옵니다. 값 앞뒤의 공백은 무시되므로 \"005930 \" 과 \" 005930\" 은 정상 조회됩니다. 이 API 는 6자리 또는 A + 6자리만 받습니다. 뒤에 군더더기가 붙은 값 (\"A005930ZZZZZ\")은 오류가 나지 않고 빈 목록이 내려옵니다. 등록되지 않은 종목코드나 자릿수가 맞지 않는 값을 넣으시면 오류가 아니라 빈 목록이 정상 응답코드와 함께 내려옵니다. 자료가 없는 기간과 구분되지 않으므로, 빈 목록을 받으셨을 때는 종목코드부터 확인하십시오.",
              "maxLength": 12
            },
            "example": "A005930"
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "description": "조회 시작일자를 YYYYMMDD 8자리 숫자로 넣으십시오. (예: 20260901)\n\n항목 자체를 빠뜨리시면 오류가 반환됩니다. 빈 값을 넣으신 것과 동작이 다르므로 값이 없더라도 항목은 함께 보내십시오.\n\n8자리가 아닌 값을 넣으셔도 오류가 나지 않고, 시작일 제한이 풀려 요청하지 않은 과거 자료까지 내려옵니다. 빈 값·\"00000000\" 은 종료일 제한까지 함께 풀리고, \"202609\" 처럼 자릿수가 모자라면 2년치에 가까운 자료가 내려옵니다. 어느 경우에도 응답코드는 정상이므로 응답만으로는 잘못 넣은 것을 알 수 없습니다. 받으신 자료가 요청하신 기간인지 date 로 확인하십시오. 목록 맨 앞에 date 가 \"00000000\" 인 행이 섞여 들어올 수 있으므로 그 행은 기간 검사에서 빼십시오. 종료일자(to)와 동작이 다르므로 같은 규칙으로 다루지 마십시오. (query string)",
            "schema": {
              "type": "string",
              "title": "조회 시작일자",
              "description": "조회 시작일자를 YYYYMMDD 8자리 숫자로 넣으십시오. (예: 20260901)\n\n항목 자체를 빠뜨리시면 오류가 반환됩니다. 빈 값을 넣으신 것과 동작이 다르므로 값이 없더라도 항목은 함께 보내십시오.\n\n8자리가 아닌 값을 넣으셔도 오류가 나지 않고, 시작일 제한이 풀려 요청하지 않은 과거 자료까지 내려옵니다. 빈 값·\"00000000\" 은 종료일 제한까지 함께 풀리고, \"202609\" 처럼 자릿수가 모자라면 2년치에 가까운 자료가 내려옵니다. 어느 경우에도 응답코드는 정상이므로 응답만으로는 잘못 넣은 것을 알 수 없습니다. 받으신 자료가 요청하신 기간인지 date 로 확인하십시오. 목록 맨 앞에 date 가 \"00000000\" 인 행이 섞여 들어올 수 있으므로 그 행은 기간 검사에서 빼십시오. 종료일자(to)와 동작이 다르므로 같은 규칙으로 다루지 마십시오. (query string)",
              "maxLength": 8
            },
            "example": "20260901"
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "description": "조회 종료일자를 YYYYMMDD 8자리 숫자로 넣으십시오. (예: 20260911) 8자리가 아닌 값을 넣으셔도 오류가 나지 않으며, 어떤 값이냐에 따라 결과가 갈립니다. 빈 값·공백·\"0\"·\"00000000\" 을 넣으시면 종료일 제한이 풀려 요청하지 않은 구간까지 내려옵니다. \"202609\" 나 \"2026-09-11\" 처럼 자릿수가 모자라거나 하이픈이 섞이면 자료가 한 건도 오지 않아, 그 기간에 자료가 없는 것과 구분되지 않습니다. 9자리를 넣으시면 요청한 종료일 이후 자료가 섞입니다. 어느 경우에도 응답코드는 정상입니다. 시작일자(from)와 동작이 다르므로 두 칸을 같은 규칙으로 다루지 마십시오. 받으신 자료가 요청하신 기간인지 date 로 확인하십시오. 목록 맨 앞에 date 가 \"00000000\" 인 행이 섞여 들어올 수 있으므로 그 행은 기간 검사에서 빼십시오. (query string)",
            "schema": {
              "type": "string",
              "title": "조회 종료일자",
              "description": "조회 종료일자를 YYYYMMDD 8자리 숫자로 넣으십시오. (예: 20260911) 8자리가 아닌 값을 넣으셔도 오류가 나지 않으며, 어떤 값이냐에 따라 결과가 갈립니다. 빈 값·공백·\"0\"·\"00000000\" 을 넣으시면 종료일 제한이 풀려 요청하지 않은 구간까지 내려옵니다. \"202609\" 나 \"2026-09-11\" 처럼 자릿수가 모자라거나 하이픈이 섞이면 자료가 한 건도 오지 않아, 그 기간에 자료가 없는 것과 구분되지 않습니다. 9자리를 넣으시면 요청한 종료일 이후 자료가 섞입니다. 어느 경우에도 응답코드는 정상입니다. 시작일자(from)와 동작이 다르므로 두 칸을 같은 규칙으로 다루지 마십시오. 받으신 자료가 요청하신 기간인지 date 로 확인하십시오. 목록 맨 앞에 date 가 \"00000000\" 인 행이 섞여 들어올 수 있으므로 그 행은 기간 검사에서 빼십시오. (query string)",
              "maxLength": 8
            },
            "example": "20260911"
          },
          {
            "name": "tr_cont",
            "in": "query",
            "required": false,
            "description": "이 API 는 연속조회를 지원하지 않습니다. 값을 넣으셔도 첫 조회와 같은 자료가 내려오므로 넣지 않으셔도 됩니다. (query string)",
            "schema": {
              "type": "string",
              "title": "연속조회 여부",
              "description": "이 API 는 연속조회를 지원하지 않습니다. 값을 넣으셔도 첫 조회와 같은 자료가 내려오므로 넣지 않으셔도 됩니다. (query string)",
              "maxLength": 1
            }
          },
          {
            "name": "tr_cont_key",
            "in": "query",
            "required": false,
            "description": "이 API 는 연속조회를 지원하지 않습니다. 연속조회 키를 넣으셔도 무시되므로 넣지 않으셔도 됩니다. (query string)",
            "schema": {
              "type": "string",
              "title": "연속조회 키",
              "description": "이 API 는 연속조회를 지원하지 않습니다. 연속조회 키를 넣으셔도 무시되므로 넣지 않으셔도 됩니다. (query string)",
              "maxLength": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rsp_cd": {
                      "type": "string",
                      "title": "응답코드",
                      "description": "이 API 의 성공 응답 코드입니다.\n\"0000\": 정상 처리\n\n조회 결과가 없을 때도 \"0000\" 이 내려옵니다. 목록을 내려주는 조회는 빈 배열이, 한 건을 내려주는 조회는 모든 값이 0 인 내용이 \"0000\" 과 함께 옵니다. 자료가 없다는 것을 알려주는 별도 코드는 내려오지 않으므로, 결과 건수나 값으로 직접 확인하십시오.\n\n오류는 종류와 무관하게 HTTP 500 으로 반환됩니다. 성공·실패는 HTTP 상태가 아니라 이 값으로 판정하시고, 다른 계열 API 는 성공 코드가 \"0000\" 이 아닐 수 있으니 API 마다 확인하십시오.",
                      "maxLength": 8
                    },
                    "rsp_msg": {
                      "type": "string",
                      "title": "응답메시지",
                      "description": "응답 메시지입니다. 오류일 때 원인이 이 값에 담깁니다.\n\n오류 응답에는 data 와 tr_cont 가 담기지 않습니다. 오류일 때 응답 본문은 rsp_cd·rsp_msg (일부 API 는 rsp_sub_msg 까지)만으로 이루어집니다. data 를 먼저 꺼내는 코드는 오류에서 멈추므로, rsp_cd 를 먼저 확인하신 뒤 data 를 읽으십시오.\n\n이때는 rsp_cd 도 없으므로, 본문을 JSON 으로 읽기 전에 HTTP 상태와 Content-Type 을 먼저 확인하십시오.",
                      "maxLength": 200
                    },
                    "tr_cont": {
                      "type": "string",
                      "title": "연속조회 여부",
                      "description": "이 API 는 연속조회를 지원하지 않습니다. 응답에 이 항목이 담기지 않습니다.",
                      "maxLength": 1
                    },
                    "tr_cont_key": {
                      "type": "string",
                      "title": "연속조회 키",
                      "description": "이 API 는 연속조회를 지원하지 않아 응답에 연속조회 키가 담기지 않습니다.",
                      "maxLength": 20
                    },
                    "rsp_sub_msg": {
                      "type": "string",
                      "title": "응답 상세 메시지",
                      "description": "오류일 때만 내려옵니다. 누락된 항목명이나 허용 단위처럼 구체적인 사유가 담깁니다.\n(예: \"조회시작일\" · \"호가 단위 : 0.01USD\")\n정상 응답에는 포함되지 않습니다.",
                      "maxLength": 200
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string",
                            "title": "일자",
                            "description": "일자입니다. YYYYMMDD 8자리. 최근 일자가 먼저 옵니다. date 가 \"00000000\" 인 행이 목록 맨 앞에 섞여 들어올 수 있습니다. 당일 집계 중인 자료이며 같은 행의 주식현재가(stck_prpr)도 0 입니다. 이 행이 들어오는 조건은 조회 시각과 종료일자에 따라 달라집니다. 정규장 중과 장 종료 직후에는 종료일자를 당일로 잡아도 들어오고, 그 뒤에는 종료일자를 당일보다 뒤로 잡았을 때 들어옵니다. 시각이나 기간으로 미리 가르지 마시고 받으신 목록에서 이 값을 검사하십시오. 일자로 정렬하거나 날짜로 변환하는 코드가 이 값에서 걸리지 않도록 확인하십시오.",
                            "maxLength": 8
                          },
                          "stck_prpr": {
                            "type": "number",
                            "title": "주식현재가",
                            "description": "가장 최근 체결된 가격입니다."
                          },
                          "prdy_vrss": {
                            "type": "number",
                            "title": "전일대비",
                            "description": "전일 종가 대비 등락폭입니다."
                          },
                          "prdy_vrss_sign": {
                            "type": "string",
                            "title": "전일대비부호",
                            "description": "등락 부호입니다.\n\"1\" 상한 · \"2\" 상승 · \"3\" 보합 · \"4\" 하한 · \"5\" 하락",
                            "maxLength": 2
                          },
                          "prdy_ctrt": {
                            "type": "string",
                            "title": "전일대비율",
                            "description": "전일 종가 대비 등락률입니다. 단위는 퍼센트.",
                            "maxLength": 9
                          },
                          "prsn_ntby_vol": {
                            "type": "number",
                            "title": "개인순매수거래량",
                            "description": "개인의 순매수 거래량입니다. 매수 거래량에서 매도 거래량을 뺀 값이며, 음수는 순매도입니다."
                          },
                          "frgn_ntby_vol": {
                            "type": "number",
                            "title": "외국인순매수거래량",
                            "description": "외국인의 순매수 거래량입니다. 매수 거래량에서 매도 거래량을 뺀 값이며, 음수는 순매도입니다."
                          },
                          "orgn_ntby_vol": {
                            "type": "number",
                            "title": "기관순매수거래량",
                            "description": "기관의 순매수 거래량입니다. 매수 거래량에서 매도 거래량을 뺀 값이며, 음수는 순매도입니다."
                          },
                          "prsn_ntby_tr_pbmn": {
                            "type": "number",
                            "title": "개인순매수거래대금",
                            "description": "개인의 순매수 거래대금입니다. 매수 거래대금에서 매도 거래대금을 뺀 값이며, 음수는 순매도입니다. 단위는 백만원입니다."
                          },
                          "frgn_ntby_tr_pbmn": {
                            "type": "number",
                            "title": "외국인순매수거래대금",
                            "description": "외국인의 순매수 거래대금입니다. 매수 거래대금에서 매도 거래대금을 뺀 값이며, 음수는 순매도입니다. 단위는 백만원입니다."
                          },
                          "orgn_ntby_tr_pbmn": {
                            "type": "number",
                            "title": "기구순매수거래대금",
                            "description": "기관의 순매수 거래대금입니다. 매수 거래대금에서 매도 거래대금을 뺀 값이며, 음수는 순매도입니다. 단위는 백만원입니다."
                          }
                        }
                      },
                      "title": "목록"
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "date": "20260910",
                      "stck_prpr": 1263000,
                      "prdy_vrss": 1000,
                      "prdy_vrss_sign": "2",
                      "prdy_ctrt": "0.08",
                      "prsn_ntby_vol": -2057529,
                      "frgn_ntby_vol": -223832,
                      "orgn_ntby_vol": -66491,
                      "prsn_ntby_tr_pbmn": -2277305,
                      "frgn_ntby_tr_pbmn": 147905,
                      "orgn_ntby_tr_pbmn": -45443
                    },
                    {
                      "date": "20260909",
                      "stck_prpr": 692000,
                      "prdy_vrss": -296000,
                      "prdy_vrss_sign": "4",
                      "prdy_ctrt": "-29.96",
                      "prsn_ntby_vol": -2078110,
                      "frgn_ntby_vol": -363198,
                      "orgn_ntby_vol": 93428,
                      "prsn_ntby_tr_pbmn": -2306321,
                      "frgn_ntby_tr_pbmn": -59411,
                      "orgn_ntby_tr_pbmn": 190848
                    }
                  ],
                  "rsp_cd": "0000",
                  "rsp_msg": "정상 처리 되었습니다."
                }
              }
            }
          }
        },
        "x-tr-id": "ohhts_1085_001r",
        "x-tps": "10"
      }
    },
    "/market/v1/investors/detail": {
      "get": {
        "operationId": "market_investors_detail",
        "summary": "국내주식 종목별 투자자매매동향 상세",
        "tags": [
          "domestic_market"
        ],
        "description": "국내주식 한 종목의 일자별 투자자 매매동향을 상세 구분으로 조회합니다.\n개인·외국인·기관 합계에 더해 기관을 세부 주체별로 나눈 순매수 수량·대금, 주체별 매도·매수 수량과 대금, 프로그램 매매(pgm_ 접두어), 누적거래량·거래대금을 일자별로 반환합니다. 한 건의 항목 수가 많으므로 합계만 필요하시면 종목별 투자자매매동향(/market/v1/investors)을 쓰시는 편이 가볍습니다.\nfrom 과 to 는 둘 다 필수이며 YYYYMMDD 8자리입니다. 한쪽만 넣거나 어느 한쪽이라도 8자리가 아니면 요청이 처리되지 않고 오류로 돌아옵니다. 같은 입력을 종목별 투자자매매동향(/market/v1/investors)에 넣으면 오류 대신 요청하지 않은 과거 자료나 빈 목록이 정상 응답으로 돌아옵니다. 두 API 의 동작이 다른 점에 유의하십시오. from 이 to 보다 뒤이면 빈 목록이 내려옵니다.\n당일 자료는 포함되지 않습니다. 목록의 첫 건은 직전 영업일입니다.",
        "parameters": [
          {
            "name": "mac_address",
            "in": "header",
            "required": true,
            "description": "호출 단말의 MAC 주소입니다. 12자리로 넣습니다. 넣지 않으시면 요청이 거부됩니다.",
            "schema": {
              "type": "string",
              "title": "사용자 MAC_ADDRESS",
              "description": "호출 단말의 MAC 주소입니다. 12자리로 넣습니다. 넣지 않으시면 요청이 거부됩니다.",
              "maxLength": 12
            }
          },
          {
            "name": "mrkt_div_code",
            "in": "query",
            "required": true,
            "description": "시장 구분입니다.\n\"J\": KRX\n\n이 조회는 시장을 구분하지 않습니다. 어떤 값을 넣으셔도 같은 결과가 내려오며, 대체거래소(NXT) 분을 나누어 보실 수는 없습니다. 시장별로 나누어 보시려면 국내주식 투자자매매동향(/market/v1/investors)을 쓰십시오. (query string)",
            "schema": {
              "type": "string",
              "title": "시장 구분 코드",
              "description": "시장 구분입니다.\n\"J\": KRX\n\n이 조회는 시장을 구분하지 않습니다. 어떤 값을 넣으셔도 같은 결과가 내려오며, 대체거래소(NXT) 분을 나누어 보실 수는 없습니다. 시장별로 나누어 보시려면 국내주식 투자자매매동향(/market/v1/investors)을 쓰십시오. (query string)",
              "maxLength": 2
            },
            "example": "J"
          },
          {
            "name": "iscd",
            "in": "query",
            "required": true,
            "description": "종목 코드입니다. 6자리(005930)와 A를 붙인 형태(A005930)를 모두 받습니다. 표준코드(KR7005930003)는 받지 않습니다. 앞의 A 는 대문자로만 넣으십시오. 소문자 \"a005930\" 은 오류가 아니라 빈 목록이 정상 응답코드와 함께 내려옵니다. 값 앞뒤의 공백은 무시되므로 \"005930 \" 과 \" 005930\" 은 정상 조회됩니다. 이 API 는 6자리 또는 A + 6자리만 받습니다. 뒤에 군더더기가 붙은 값 (\"A005930ZZZZZ\")은 오류가 나지 않고 빈 목록이 내려옵니다. 등록되지 않은 종목코드나 자릿수가 맞지 않는 값을 넣으시면 오류가 아니라 빈 목록이 정상 응답코드와 함께 내려옵니다. 자료가 없는 기간과 구분되지 않으므로, 빈 목록을 받으셨을 때는 종목코드부터 확인하십시오.",
            "schema": {
              "type": "string",
              "title": "종목 코드",
              "description": "종목 코드입니다. 6자리(005930)와 A를 붙인 형태(A005930)를 모두 받습니다. 표준코드(KR7005930003)는 받지 않습니다. 앞의 A 는 대문자로만 넣으십시오. 소문자 \"a005930\" 은 오류가 아니라 빈 목록이 정상 응답코드와 함께 내려옵니다. 값 앞뒤의 공백은 무시되므로 \"005930 \" 과 \" 005930\" 은 정상 조회됩니다. 이 API 는 6자리 또는 A + 6자리만 받습니다. 뒤에 군더더기가 붙은 값 (\"A005930ZZZZZ\")은 오류가 나지 않고 빈 목록이 내려옵니다. 등록되지 않은 종목코드나 자릿수가 맞지 않는 값을 넣으시면 오류가 아니라 빈 목록이 정상 응답코드와 함께 내려옵니다. 자료가 없는 기간과 구분되지 않으므로, 빈 목록을 받으셨을 때는 종목코드부터 확인하십시오.",
              "maxLength": 12
            },
            "example": "A005930"
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "description": "조회 시작일자입니다. YYYYMMDD 8자리 숫자로 넣으십시오. (예: 20260901) 반드시 8자리로 넣으셔야 합니다. 빠뜨리시거나 빈 값·하이픈이 섞인 값(\"2026-09-01\")·8자리가 아닌 값(\"202609\")을 넣으시면 오류가 반환됩니다. 8자리이기만 하면 날짜가 아니어도(\"00000000\"·\"abcdefgh\") 오류가 나지 않고, 시작일 제한이 풀린 최근 40건이 내려옵니다. 이때 목록 첫 건의 date 가 \"00000000\" 으로 오므로 그대로 쓰지 마십시오. 아직 자료가 없는 미래 일자를 넣으시거나 종료일자가 시작일자보다 이르면 빈 배열이 내려옵니다. 같은 이름의 항목이라도 국내주식 투자자매매동향(/market/v1/investors)은 8자리가 아니어도 오류 없이 자료를 돌려주므로, 두 API 에 같은 값을 쓰시기 전에 확인하십시오. (query string)",
            "schema": {
              "type": "string",
              "title": "조회 시작일자",
              "description": "조회 시작일자입니다. YYYYMMDD 8자리 숫자로 넣으십시오. (예: 20260901) 반드시 8자리로 넣으셔야 합니다. 빠뜨리시거나 빈 값·하이픈이 섞인 값(\"2026-09-01\")·8자리가 아닌 값(\"202609\")을 넣으시면 오류가 반환됩니다. 8자리이기만 하면 날짜가 아니어도(\"00000000\"·\"abcdefgh\") 오류가 나지 않고, 시작일 제한이 풀린 최근 40건이 내려옵니다. 이때 목록 첫 건의 date 가 \"00000000\" 으로 오므로 그대로 쓰지 마십시오. 아직 자료가 없는 미래 일자를 넣으시거나 종료일자가 시작일자보다 이르면 빈 배열이 내려옵니다. 같은 이름의 항목이라도 국내주식 투자자매매동향(/market/v1/investors)은 8자리가 아니어도 오류 없이 자료를 돌려주므로, 두 API 에 같은 값을 쓰시기 전에 확인하십시오. (query string)",
              "maxLength": 8
            },
            "example": "20260901"
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "description": "조회 종료일자입니다. YYYYMMDD 8자리 숫자로 넣으십시오. (예: 20260911) 빠뜨리시거나 빈 값·\"0\"·8자리가 아닌 값(\"202609\")·하이픈이 섞인 값(\"2026-09-05\")을 넣으시면 오류가 반환됩니다. 8자리이기만 하면 날짜가 아니어도(\"00000000\") 오류가 나지 않고 종료일 제한이 풀려 시작일보다 앞선 자료가 내려오므로, 받으신 자료가 요청하신 기간인지 date 로 확인하십시오. 목록 맨 앞에 date 가 \"00000000\" 인 당일 집계 행이 섞여 들어올 수 있으므로 그 행은 기간 검사에서 빼십시오. (query string)",
            "schema": {
              "type": "string",
              "title": "조회 종료일자",
              "description": "조회 종료일자입니다. YYYYMMDD 8자리 숫자로 넣으십시오. (예: 20260911) 빠뜨리시거나 빈 값·\"0\"·8자리가 아닌 값(\"202609\")·하이픈이 섞인 값(\"2026-09-05\")을 넣으시면 오류가 반환됩니다. 8자리이기만 하면 날짜가 아니어도(\"00000000\") 오류가 나지 않고 종료일 제한이 풀려 시작일보다 앞선 자료가 내려오므로, 받으신 자료가 요청하신 기간인지 date 로 확인하십시오. 목록 맨 앞에 date 가 \"00000000\" 인 당일 집계 행이 섞여 들어올 수 있으므로 그 행은 기간 검사에서 빼십시오. (query string)",
              "maxLength": 8
            },
            "example": "20260911"
          },
          {
            "name": "tr_cont",
            "in": "query",
            "required": false,
            "description": "이 API 는 연속조회를 지원하지 않습니다. 값을 넣으셔도 첫 조회와 같은 자료가 내려오므로 넣지 않으셔도 됩니다. (query string)",
            "schema": {
              "type": "string",
              "title": "연속조회 여부",
              "description": "이 API 는 연속조회를 지원하지 않습니다. 값을 넣으셔도 첫 조회와 같은 자료가 내려오므로 넣지 않으셔도 됩니다. (query string)",
              "maxLength": 1
            }
          },
          {
            "name": "tr_cont_key",
            "in": "query",
            "required": false,
            "description": "이 API 는 연속조회를 지원하지 않습니다. 연속조회 키를 넣으셔도 무시되므로 넣지 않으셔도 됩니다. (query string)",
            "schema": {
              "type": "string",
              "title": "연속조회 키",
              "description": "이 API 는 연속조회를 지원하지 않습니다. 연속조회 키를 넣으셔도 무시되므로 넣지 않으셔도 됩니다. (query string)",
              "maxLength": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rsp_cd": {
                      "type": "string",
                      "title": "응답코드",
                      "description": "이 API 의 성공 응답 코드입니다.\n\"0000\": 정상 처리\n\n조회 결과가 없을 때도 \"0000\" 이 내려옵니다. 목록을 내려주는 조회는 빈 배열이, 한 건을 내려주는 조회는 모든 값이 0 인 내용이 \"0000\" 과 함께 옵니다. 자료가 없다는 것을 알려주는 별도 코드는 내려오지 않으므로, 결과 건수나 값으로 직접 확인하십시오.\n\n오류는 종류와 무관하게 HTTP 500 으로 반환됩니다. 성공·실패는 HTTP 상태가 아니라 이 값으로 판정하시고, 다른 계열 API 는 성공 코드가 \"0000\" 이 아닐 수 있으니 API 마다 확인하십시오.",
                      "maxLength": 8
                    },
                    "rsp_msg": {
                      "type": "string",
                      "title": "응답메시지",
                      "description": "응답 메시지입니다. 오류일 때 원인이 이 값에 담깁니다.\n\n오류 응답에는 data 와 tr_cont 가 담기지 않습니다. 오류일 때 응답 본문은 rsp_cd·rsp_msg (일부 API 는 rsp_sub_msg 까지)만으로 이루어집니다. data 를 먼저 꺼내는 코드는 오류에서 멈추므로, rsp_cd 를 먼저 확인하신 뒤 data 를 읽으십시오.\n\n이때는 rsp_cd 도 없으므로, 본문을 JSON 으로 읽기 전에 HTTP 상태와 Content-Type 을 먼저 확인하십시오.",
                      "maxLength": 200
                    },
                    "tr_cont": {
                      "type": "string",
                      "title": "연속조회 여부",
                      "description": "이 API 는 연속조회를 지원하지 않습니다. 응답에 이 항목이 담기지 않습니다.",
                      "maxLength": 1
                    },
                    "tr_cont_key": {
                      "type": "string",
                      "title": "연속조회 키",
                      "description": "이 API 는 연속조회를 지원하지 않아 응답에 연속조회 키가 담기지 않습니다.",
                      "maxLength": 20
                    },
                    "rsp_sub_msg": {
                      "type": "string",
                      "title": "응답 상세 메시지",
                      "description": "오류일 때만 내려옵니다. 누락된 항목명이나 허용 단위처럼 구체적인 사유가 담깁니다.\n(예: \"조회시작일\" · \"호가 단위 : 0.01USD\")\n정상 응답에는 포함되지 않습니다.",
                      "maxLength": 200
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string",
                            "title": "일자",
                            "description": "일자입니다. YYYYMMDD 8자리. 최근 일자가 먼저 옵니다. date 가 \"00000000\" 인 행이 목록 맨 앞에 섞여 들어올 수 있습니다. 당일 집계 중인 자료이며 같은 행의 주식현재가(stck_prpr)도 0 입니다. 이 행이 들어오는 조건은 조회 시각과 종료일자에 따라 달라집니다. 정규장 중과 장 종료 직후에는 종료일자를 당일로 잡아도 들어오고, 그 뒤에는 종료일자를 당일보다 뒤로 잡았을 때 들어옵니다. 시각이나 기간으로 미리 가르지 마시고 받으신 목록에서 이 값을 검사하십시오. 일자로 정렬하거나 날짜로 변환하는 코드가 이 값에서 걸리지 않도록 확인하십시오.",
                            "maxLength": 8
                          },
                          "stck_prpr": {
                            "type": "number",
                            "title": "주식현재가",
                            "description": "가장 최근 체결된 가격입니다."
                          },
                          "prsn_ntby_vol": {
                            "type": "number",
                            "title": "개인순매수거래량",
                            "description": "개인의 순매수 거래량입니다. 매수 거래량에서 매도 거래량을 뺀 값이며, 음수는 순매도입니다."
                          },
                          "frgn_ntby_vol": {
                            "type": "number",
                            "title": "외국인순매수거래량",
                            "description": "외국인의 순매수 거래량입니다. 매수 거래량에서 매도 거래량을 뺀 값이며, 음수는 순매도입니다."
                          },
                          "orgn_ntby_vol": {
                            "type": "number",
                            "title": "기관순매수거래량",
                            "description": "기관의 순매수 거래량입니다. 매수 거래량에서 매도 거래량을 뺀 값이며, 음수는 순매도입니다."
                          },
                          "fund_ntby_vol": {
                            "type": "number",
                            "title": "기금순매수거래량",
                            "description": "기금의 순매수 거래량입니다. 매수 거래량에서 매도 거래량을 뺀 값이며, 음수는 순매도입니다."
                          },
                          "insu_ntby_vol": {
                            "type": "number",
                            "title": "보험순매수거래량",
                            "description": "보험의 순매수 거래량입니다. 매수 거래량에서 매도 거래량을 뺀 값이며, 음수는 순매도입니다."
                          },
                          "bank_ntby_vol": {
                            "type": "number",
                            "title": "은행순매수거래량",
                            "description": "은행의 순매수 거래량입니다. 매수 거래량에서 매도 거래량을 뺀 값이며, 음수는 순매도입니다."
                          },
                          "ivtr_ntby_vol": {
                            "type": "number",
                            "title": "투자신탁순매수거래량",
                            "description": "투자신탁의 순매수 거래량입니다. 매수 거래량에서 매도 거래량을 뺀 값이며, 음수는 순매도입니다."
                          },
                          "mrbn_ntby_vol": {
                            "type": "number",
                            "title": "종금순매수거래량",
                            "description": "종금의 순매수 거래량입니다. 매수 거래량에서 매도 거래량을 뺀 값이며, 음수는 순매도입니다."
                          },
                          "scrt_ntby_vol": {
                            "type": "number",
                            "title": "증권순매수거래량",
                            "description": "증권의 순매수 거래량입니다. 매수 거래량에서 매도 거래량을 뺀 값이며, 음수는 순매도입니다."
                          },
                          "pe_fund_ntby_vol": {
                            "type": "number",
                            "title": "사모펀드순매수거래량",
                            "description": "사모펀드의 순매수 거래량입니다. 매수 거래량에서 매도 거래량을 뺀 값이며, 음수는 순매도입니다."
                          },
                          "etc_corp_ntby_vol": {
                            "type": "number",
                            "title": "기타법인순매수거래량",
                            "description": "기타법인의 순매수 거래량입니다. 매수 거래량에서 매도 거래량을 뺀 값이며, 음수는 순매도입니다."
                          },
                          "etc_orgt_ntby_vol": {
                            "type": "number",
                            "title": "기타단체순매수거래량",
                            "description": "기타단체의 순매수 거래량입니다. 매수 거래량에서 매도 거래량을 뺀 값이며 음수는 순매도입니다. 이 구분은 거래가 거의 없어 0 으로 내려오는 날이 대부분이므로, 0 을 자료 누락으로 보지 마십시오."
                          },
                          "prsn_ntby_tr_pbmn": {
                            "type": "number",
                            "title": "개인순매수거래대금",
                            "description": "개인의 순매수 거래대금입니다. 매수 거래대금에서 매도 거래대금을 뺀 값이며, 음수는 순매도입니다. 단위는 백만원입니다."
                          },
                          "frgn_ntby_tr_pbmn": {
                            "type": "number",
                            "title": "외국인순매수거래대금",
                            "description": "외국인의 순매수 거래대금입니다. 매수 거래대금에서 매도 거래대금을 뺀 값이며, 음수는 순매도입니다. 단위는 백만원입니다."
                          },
                          "orgn_ntby_tr_pbmn": {
                            "type": "number",
                            "title": "기구순매수거래대금",
                            "description": "기관의 순매수 거래대금입니다. 매수 거래대금에서 매도 거래대금을 뺀 값이며, 음수는 순매도입니다. 단위는 백만원입니다."
                          },
                          "fund_ntby_tr_pbmn": {
                            "type": "number",
                            "title": "기금순매수거래대금",
                            "description": "기금의 순매수 거래대금입니다. 매수 거래대금에서 매도 거래대금을 뺀 값이며, 음수는 순매도입니다. 단위는 백만원입니다."
                          },
                          "insu_ntby_tr_pbmn": {
                            "type": "number",
                            "title": "보험순매수거래대금",
                            "description": "보험의 순매수 거래대금입니다. 매수 거래대금에서 매도 거래대금을 뺀 값이며, 음수는 순매도입니다. 단위는 백만원입니다."
                          },
                          "bank_ntby_tr_pbmn": {
                            "type": "number",
                            "title": "은행순매수거래대금",
                            "description": "은행의 순매수 거래대금입니다. 매수 거래대금에서 매도 거래대금을 뺀 값이며, 음수는 순매도입니다. 단위는 백만원입니다."
                          },
                          "ivtr_ntby_tr_pbmn": {
                            "type": "number",
                            "title": "투자신탁순매수거래대금",
                            "description": "투자신탁의 순매수 거래대금입니다. 매수 거래대금에서 매도 거래대금을 뺀 값이며, 음수는 순매도입니다. 단위는 백만원입니다."
                          },
                          "mrbn_ntby_tr_pbmn": {
                            "type": "number",
                            "title": "종금순매수거래대금",
                            "description": "종금의 순매수 거래대금입니다. 매수 거래대금에서 매도 거래대금을 뺀 값이며, 음수는 순매도입니다. 단위는 백만원입니다."
                          },
                          "scrt_ntby_tr_pbmn": {
                            "type": "number",
                            "title": "증권순매수거래대금",
                            "description": "증권의 순매수 거래대금입니다. 매수 거래대금에서 매도 거래대금을 뺀 값이며, 음수는 순매도입니다. 단위는 백만원입니다."
                          },
                          "pe_fund_ntby_tr_pbmn": {
                            "type": "number",
                            "title": "사모펀드순매수거래대금",
                            "description": "사모펀드의 순매수 거래대금입니다. 매수 거래대금에서 매도 거래대금을 뺀 값이며, 음수는 순매도입니다. 단위는 백만원입니다."
                          },
                          "etc_corp_ntby_tr_pbmn": {
                            "type": "number",
                            "title": "기타법인순매수거래대금",
                            "description": "기타법인의 순매수 거래대금입니다. 매수 거래대금에서 매도 거래대금을 뺀 값이며, 음수는 순매도입니다. 단위는 백만원입니다."
                          },
                          "etc_orgt_ntby_tr_pbmn": {
                            "type": "number",
                            "title": "기타단체순매수거래대금",
                            "description": "기타단체의 순매수 거래대금입니다. 매수 거래대금에서 매도 거래대금을 뺀 값이며, 음수는 순매도입니다. 단위는 백만원입니다."
                          },
                          "prsn_seln_vol": {
                            "type": "number",
                            "title": "개인매도거래량",
                            "description": "개인의 매도 거래량입니다."
                          },
                          "prsn_shnu_vol": {
                            "type": "number",
                            "title": "개인매수거래량",
                            "description": "개인의 매수 거래량입니다."
                          },
                          "prsn_seln_tr_pbmn": {
                            "type": "number",
                            "title": "개인매도거래대금",
                            "description": "개인의 매도 거래대금입니다. 단위는 백만원입니다."
                          },
                          "prsn_shnu_tr_pbmn": {
                            "type": "number",
                            "title": "개인매수거래대금",
                            "description": "개인의 매수 거래대금입니다. 단위는 백만원입니다."
                          },
                          "frgn_seln_vol": {
                            "type": "number",
                            "title": "외국인매도거래량",
                            "description": "외국인의 매도 거래량입니다."
                          },
                          "frgn_shnu_vol": {
                            "type": "number",
                            "title": "외국인매수거래량",
                            "description": "외국인의 매수 거래량입니다."
                          },
                          "frgn_seln_tr_pbmn": {
                            "type": "number",
                            "title": "외국인매도거래대금",
                            "description": "외국인의 매도 거래대금입니다. 단위는 백만원입니다."
                          },
                          "frgn_shnu_tr_pbmn": {
                            "type": "number",
                            "title": "외국인매수거래대금",
                            "description": "외국인의 매수 거래대금입니다. 단위는 백만원입니다."
                          },
                          "orgn_seln_vol": {
                            "type": "number",
                            "title": "기구매도거래량",
                            "description": "기관의 매도 거래량입니다."
                          },
                          "orgn_shnu_vol": {
                            "type": "number",
                            "title": "기구매수거래량",
                            "description": "기관의 매수 거래량입니다."
                          },
                          "orgn_seln_tr_pbmn": {
                            "type": "number",
                            "title": "기구매도거래대금",
                            "description": "기관의 매도 거래대금입니다. 단위는 백만원입니다."
                          },
                          "orgn_shnu_tr_pbmn": {
                            "type": "number",
                            "title": "기구매수거래대금",
                            "description": "기관의 매수 거래대금입니다. 단위는 백만원입니다."
                          },
                          "fund_seln_vol": {
                            "type": "number",
                            "title": "기금매도거래량",
                            "description": "기금의 매도 거래량입니다."
                          },
                          "fund_shnu_vol": {
                            "type": "number",
                            "title": "기금매수거래량",
                            "description": "기금의 매수 거래량입니다."
                          },
                          "fund_seln_tr_pbmn": {
                            "type": "number",
                            "title": "기금매도거래대금",
                            "description": "기금의 매도 거래대금입니다. 단위는 백만원입니다."
                          },
                          "fund_shnu_tr_pbmn": {
                            "type": "number",
                            "title": "기금매수거래대금",
                            "description": "기금의 매수 거래대금입니다. 단위는 백만원입니다."
                          },
                          "insu_seln_vol": {
                            "type": "number",
                            "title": "보험매도거래량",
                            "description": "보험의 매도 거래량입니다."
                          },
                          "insu_shnu_vol": {
                            "type": "number",
                            "title": "보험매수거래량",
                            "description": "보험의 매수 거래량입니다."
                          },
                          "insu_seln_tr_pbmn": {
                            "type": "number",
                            "title": "보험매도거래대금",
                            "description": "보험의 매도 거래대금입니다. 단위는 백만원입니다."
                          },
                          "insu_shnu_tr_pbmn": {
                            "type": "number",
                            "title": "보험매수거래대금",
                            "description": "보험의 매수 거래대금입니다. 단위는 백만원입니다."
                          },
                          "bank_seln_vol": {
                            "type": "number",
                            "title": "은행매도거래량",
                            "description": "은행의 매도 거래량입니다."
                          },
                          "bank_shnu_vol": {
                            "type": "number",
                            "title": "은행매수거래량",
                            "description": "은행의 매수 거래량입니다."
                          },
                          "bank_seln_tr_pbmn": {
                            "type": "number",
                            "title": "은행매도거래대금",
                            "description": "은행의 매도 거래대금입니다. 단위는 백만원입니다."
                          },
                          "bank_shnu_tr_pbmn": {
                            "type": "number",
                            "title": "은행매수거래대금",
                            "description": "은행의 매수 거래대금입니다. 단위는 백만원입니다."
                          },
                          "ivtr_seln_vol": {
                            "type": "number",
                            "title": "투자신탁매도거래량",
                            "description": "투자신탁의 매도 거래량입니다."
                          },
                          "ivtr_shnu_vol": {
                            "type": "number",
                            "title": "투자신탁매수거래량",
                            "description": "투자신탁의 매수 거래량입니다."
                          },
                          "ivtr_seln_tr_pbmn": {
                            "type": "number",
                            "title": "투자신탁매도거래대금",
                            "description": "투자신탁의 매도 거래대금입니다. 단위는 백만원입니다."
                          },
                          "ivtr_shnu_tr_pbmn": {
                            "type": "number",
                            "title": "투자신탁매수거래대금",
                            "description": "투자신탁의 매수 거래대금입니다. 단위는 백만원입니다."
                          },
                          "mrbn_seln_vol": {
                            "type": "number",
                            "title": "종금매도거래량",
                            "description": "종금의 매도 거래량입니다."
                          },
                          "mrbn_shnu_vol": {
                            "type": "number",
                            "title": "종금매수거래량",
                            "description": "종금의 매수 거래량입니다."
                          },
                          "mrbn_seln_tr_pbmn": {
                            "type": "number",
                            "title": "종금매도거래대금",
                            "description": "종금의 매도 거래대금입니다. 단위는 백만원입니다."
                          },
                          "mrbn_shnu_tr_pbmn": {
                            "type": "number",
                            "title": "종금매수거래대금",
                            "description": "종금의 매수 거래대금입니다. 단위는 백만원입니다."
                          },
                          "scrt_seln_vol": {
                            "type": "number",
                            "title": "증권매도거래량",
                            "description": "증권의 매도 거래량입니다."
                          },
                          "scrt_shnu_vol": {
                            "type": "number",
                            "title": "증권매수거래량",
                            "description": "증권의 매수 거래량입니다."
                          },
                          "scrt_seln_tr_pbmn": {
                            "type": "number",
                            "title": "증권매도거래대금",
                            "description": "증권의 매도 거래대금입니다. 단위는 백만원입니다."
                          },
                          "scrt_shnu_tr_pbmn": {
                            "type": "number",
                            "title": "증권매수거래대금",
                            "description": "증권의 매수 거래대금입니다. 단위는 백만원입니다."
                          },
                          "pe_fund_seln_vol": {
                            "type": "number",
                            "title": "사모펀드매도거래량",
                            "description": "사모펀드의 매도 거래량입니다."
                          },
                          "pe_fund_shnu_vol": {
                            "type": "number",
                            "title": "사모펀드매수거래량",
                            "description": "사모펀드의 매수 거래량입니다."
                          },
                          "pe_fund_seln_tr_pbmn": {
                            "type": "number",
                            "title": "사모펀드매도거래대금",
                            "description": "사모펀드의 매도 거래대금입니다. 단위는 백만원입니다."
                          },
                          "pe_fund_shnu_tr_pbmn": {
                            "type": "number",
                            "title": "사모펀드매수거래대금",
                            "description": "사모펀드의 매수 거래대금입니다. 단위는 백만원입니다."
                          },
                          "etc_corp_seln_vol": {
                            "type": "number",
                            "title": "기타법인매도거래량",
                            "description": "기타법인의 매도 거래량입니다."
                          },
                          "etc_corp_shnu_vol": {
                            "type": "number",
                            "title": "기타법인매수거래량",
                            "description": "기타법인의 매수 거래량입니다."
                          },
                          "etc_corp_seln_tr_pbmn": {
                            "type": "number",
                            "title": "기타법인매도거래대금",
                            "description": "기타법인의 매도 거래대금입니다. 단위는 백만원입니다."
                          },
                          "etc_corp_shnu_tr_pbmn": {
                            "type": "number",
                            "title": "기타법인매수거래대금",
                            "description": "기타법인의 매수 거래대금입니다. 단위는 백만원입니다."
                          },
                          "etc_orgt_seln_vol": {
                            "type": "number",
                            "title": "기타단체매도거래량",
                            "description": "기타단체의 매도 거래량입니다."
                          },
                          "etc_orgt_shnu_vol": {
                            "type": "number",
                            "title": "기타단체매수거래량",
                            "description": "기타단체의 매수 거래량입니다."
                          },
                          "etc_orgt_seln_tr_pbmn": {
                            "type": "number",
                            "title": "기타단체매도거래대금",
                            "description": "기타단체의 매도 거래대금입니다. 단위는 백만원입니다."
                          },
                          "etc_orgt_shnu_tr_pbmn": {
                            "type": "number",
                            "title": "기타단체매수거래대금",
                            "description": "기타단체의 매수 거래대금입니다. 단위는 백만원입니다."
                          },
                          "prdy_vrss": {
                            "type": "number",
                            "title": "전일대비",
                            "description": "전일 종가 대비 등락폭입니다."
                          },
                          "prdy_vrss_sign": {
                            "type": "string",
                            "title": "전일대비부호",
                            "description": "등락 부호입니다.\n\"1\" 상한 · \"2\" 상승 · \"3\" 보합 · \"4\" 하한 · \"5\" 하락",
                            "maxLength": 2
                          },
                          "prdy_ctrt": {
                            "type": "string",
                            "title": "전일대비율",
                            "description": "전일 종가 대비 등락률입니다. 단위는 퍼센트.",
                            "maxLength": 9
                          },
                          "acml_vol": {
                            "type": "number",
                            "title": "누적거래량",
                            "description": "장 시작부터 지금까지 체결된 주식 수를 모두 더한 값입니다. 개별 체결 수량이 아닙니다."
                          },
                          "acml_tr_pbmn": {
                            "type": "number",
                            "title": "누적거래대금",
                            "description": "장 시작부터 지금까지 체결된 거래대금을 모두 더한 값입니다. 원 단위입니다."
                          },
                          "pgm_ntby_tr_pbmn": {
                            "type": "number",
                            "title": "프로그램순매수거래대금",
                            "description": "프로그램의 순매수 거래대금입니다. 매수 거래대금에서 매도 거래대금을 뺀 값이며, 음수는 순매도입니다. 단위는 백만원입니다."
                          },
                          "pgm_seln_vol": {
                            "type": "number",
                            "title": "프로그램매도거래량",
                            "description": "프로그램의 매도 거래량입니다."
                          },
                          "pgm_shnu_vol": {
                            "type": "number",
                            "title": "프로그램매수거래량",
                            "description": "프로그램의 매수 거래량입니다."
                          },
                          "pgm_seln_tr_pbmn": {
                            "type": "number",
                            "title": "프로그램매도거래대금",
                            "description": "프로그램의 매도 거래대금입니다. 단위는 백만원입니다."
                          },
                          "pgm_shnu_tr_pbmn": {
                            "type": "number",
                            "title": "프로그램매수거래대금",
                            "description": "프로그램의 매수 거래대금입니다. 단위는 백만원입니다."
                          },
                          "pgm_ntby_vol": {
                            "type": "number",
                            "title": "프로그램순매수거래량",
                            "description": "프로그램의 순매수 거래량입니다. 매수 거래량에서 매도 거래량을 뺀 값이며, 음수는 순매도입니다."
                          }
                        }
                      },
                      "title": "목록"
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "date": "20260910",
                      "stck_prpr": 1263000,
                      "prsn_ntby_vol": -2057529,
                      "frgn_ntby_vol": -223832,
                      "orgn_ntby_vol": -66491,
                      "fund_ntby_vol": 1133,
                      "insu_ntby_vol": 19089,
                      "bank_ntby_vol": 17326,
                      "ivtr_ntby_vol": -1708,
                      "mrbn_ntby_vol": 4,
                      "scrt_ntby_vol": -83016,
                      "pe_fund_ntby_vol": -19319,
                      "etc_corp_ntby_vol": 2344588,
                      "etc_orgt_ntby_vol": 0,
                      "prsn_ntby_tr_pbmn": -2277305,
                      "frgn_ntby_tr_pbmn": 147905,
                      "orgn_ntby_tr_pbmn": -45443,
                      "fund_ntby_tr_pbmn": -622,
                      "insu_ntby_tr_pbmn": 9725,
                      "bank_ntby_tr_pbmn": 11538,
                      "ivtr_ntby_tr_pbmn": -2557,
                      "mrbn_ntby_tr_pbmn": 3,
                      "scrt_ntby_tr_pbmn": -24735,
                      "pe_fund_ntby_tr_pbmn": -38795,
                      "etc_corp_ntby_tr_pbmn": 2172055,
                      "etc_orgt_ntby_tr_pbmn": 0,
                      "prsn_seln_vol": 3732457,
                      "prsn_shnu_vol": 1674928,
                      "prsn_seln_tr_pbmn": 3530568,
                      "prsn_shnu_tr_pbmn": 1253263,
                      "frgn_seln_vol": 10286800,
                      "frgn_shnu_vol": 10062968,
                      "frgn_seln_tr_pbmn": 9334782,
[...]
